<section class="footer1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="f-content">
          <h6 class="text-uppercase  font-weight-bold">overview</h6>
          <hr>
          <h6 class="text-uppercase  font-weight-bold">ABOUT NEARLUK</h6>
          <p>Nearluk is a one stop solution for all rental/ lease based transactions. Whether you are an
            Owner, or
            a Tenant or even an Agent, we have the right options to ensure your job gets done.</p>
        </div>
      </div>
      <div class="col-lg-2">
        <h6 class="text-uppercase  font-weight-bold">Nearluk</h6>
        <hr>
        <div class="f-menu">
          <ul>
            <li>
              <a (click)="goToLink('/aboutus')" routerLink="">About Us</a>
            </li>
            <li>
              <a (click)="goToLink('/work')" routerLink="">Work With Us</a>
            </li>
            <li>
              <a (click)="goToLink('/contactus')" routerLink="">Contact Us</a>
            </li>
            <li>
              <a (click)="goToLink('/press')" routerLink="">Press</a>
            </li>
            <li>
              <a (click)="goToLink('/advertise')" routerLink="">Advertise With Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <h6 class="text-uppercase  font-weight-bold">Partner with us</h6>
        <hr>
        <div class="f-menu">
          <ul>
            <li>
              <a (click)="goToLink('/agents')" routerLink="">For Agents</a>
            </li>
            <li>
              <a (click)="goToLink('/houseowner')" routerLink="">For House Owners</a>
            </li>
            <li>
              <a (click)="goToLink('/tenant')" routerLink="">For Tenants</a>
            </li>
            <li>
              <a (click)="goToLink('/organization')" routerLink="">For Large Organizations</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <h6 class="text-uppercase  font-weight-bold">More Information</h6>
        <hr>
        <div class="f-menu">
          <ul>
            <li>
              <a (click)="goToLink('/privacy')" routerLink="">Privacy Policy</a>
            </li>
            <li>
              <a (click)="goToLink('/terms')" routerLink="">NearLuk Terms Of Use</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <h6 class="text-uppercase  font-weight-bold">
          ADDRESS</h6>
        <hr>
        <div class="f-menu">Unic Sol India pvt ltd,
          <br> Plot No: 62,
          <br> Nagarjuna Hills,
          <br> Punjagutta,
          <br> Hyderabad. </div>
      </div>



      <div class="col-md-1">
        <h6 style="font-weight: bold ; font-size: 12px">Downloads</h6>
        <hr>
        <span id="android" style=" margin-left: 9px">
          <a (click)="goToLink('https://play.google.com/store/apps/details?id=com.nearlukapplication&hl=en_US')"
            routerLink="">
            <i class="fa fa-android fa-2x"></i>
          </a>
        </span>
        <span id="ios">
          <a (click)="goToLink('https://itunes.apple.com/in/app/nearluk/id1462426643?mt=8')" routerLink="">
            <i class="fa fa-apple fa-2x"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="row footer-bar1">
    <div class="col-lg-4">
      <div class="copy-right">
        <p>Copyright ©2019 All rights reserved </p>
      </div>
    </div>
    <div class="col-lg-4 ml-auto">
      <div class="social-icons">
        <p>
          <span>
            <a href="https://www.facebook.com/NearLuk/">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </span>&nbsp;
          <span>
            <a href="https://twitter.com/nearluk?lang=en">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
          </span> &nbsp;
          <span>
            <a href="https://plus.google.com/u/0/113183517003860981336">
              <i class="fa fa-google-plus" id="google"></i>
            </a>
          </span> &nbsp;
          <span>
            <a href="https://www.linkedin.com/in/near-luk-6749b9172/">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>