
<div class="containt-fluid ">
  <section class="for_owners">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 cpl-md-12">
            <div class="why_content">
              <h4>For Owners:</h4>
              <br>
            
            <p class="text">Nearluk helps the owner to find potential and verified tenants to avail your rental property. Owner can post an advertisement in advance to its availability. Owners get instant alerts about the bookings with ease of trusted payment gateway. Lease properties like Open lands, Godowns, Commercial properties (Malls, Shops, Restaurants, Hotels, Schools, Colleges etc.,) can be posted on Nearluk. NRI owners can opt a Nearluk verified agent to their properties by scrutinizing Agent’s connections and experience in the rental domain and locations covered by them.

              The Chat feature helps the owner and the tenant to communicate with eachother online & offline. Nearluk has a complete profile of the tenant such as education, address, employment details to ensure the owner gets right tenant. The in-built rental Agreement feature helps both the the parties to save on time. A property in demand could also Bid. An instant alert would be notified on viewing  by an agent or tenant.    </div>
        </div>
      </div>
      </div>
  </section></div>
  <router-outlet ></router-outlet>


<br>
<br>
<br>
<br>