

<div class="container" id="main">

  <div class="offset-md-1 col-md-10">
    <h3> Frequently Asked Questions</h3>

    <p-accordion>
      <h6>
        <p-accordionTab header="1. Do you manage only residential property?">
          <div class="answer">
            Ans: &nbsp; Residential property is our specialty but we also manage small commercial properties and have
            several
            apartment complexes in our portfolio.</div>
        </p-accordionTab>
        <p-accordionTab header="2. How do you handle problems after-hours and on weekends?">
          <div class="answer">
            Ans: &nbsp;Our phones are monitored 7 days a week and each tenant is provided with an emergency contact
            number for
            after-hours. Many times we can solve the problem over the phone.</div>
        </p-accordionTab>
        <p-accordionTab header="3. Is it possible to view the apartment online?">
          <div class="answer">
            Ans: &nbsp;You can view all our apartments online at any time. High-quality photos and videos of the
            apartments
            and
            the surrounding areas, as well as additional details are available for every property.
          </div>
        </p-accordionTab>
        <p-accordionTab header="4. How do i list a property?">
          <div class="answer">
            Ans: &nbsp;•Click the List a Property button at the top of any page. You will be prompted to log in if you
            haven’t
            already, if you do not have an account click the ‘Create Account’ button then fill out the required
            fields.<br>
            •Once the account has been created or you are logged in, you will be taken to a new form where you fill in
            the rental property details, select a "photos" option, then select a payment method. If you are trying to
            list property you have posted in the past, please reactivate your listing.<br>
            •Photos can be uploaded any time after the property details form has been submitted.
          </div>
        </p-accordionTab>
        <p-accordionTab header="5.WHY ARE THE PHOTOS NOT SHOWING WITH MY AD?">
          <div class="answer">
            Ans:&nbsp; Uploaded photos will show with your rental listing immediately - there is no delay. If you do
            not see
            the photos in your ad, the upload failed. Please try uploading them again.
          </div>
        </p-accordionTab>
        <p-accordionTab header="6.MAP SEARCH. HOW DO I USE THIS?">
          <div class="answer">
            Ans:&nbsp; •Once you have clicked on "Map Search" you will be taken to an interactive map page. At this
            point you
            are able to enter some of the following information:
            Search criteria (or the Listing ID if you have it) such as your Price range (what can you realistically
            afford to rent?), Type of rental (house, condo, apartment, basement, shared, etc.), and Bedrooms and/or
            bathrooms required for your desired rental.<br>
            •The search results will appear on the right-hand side of the page. If you want to learn more information
            about a rental that appears in your search results, simply click on the listing to view property
            information
            and other important details.
          </div>
        </p-accordionTab>
        <p-accordionTab header="7. OUR RECOMMENDATIONS">
          <div class="answer">
            Ans:&nbsp; •Do not send money to a landlord without viewing the property inside and out.<br>
            •If it sounds too good to be true, it probably is. If the property is priced well below market value, it is
            likely a scam or has been miscategorized.<br>
            •Be sure to view the property and meet the landlord or property manager in person.<br>
            •Put everything in writing and ensure each party has a signed copy.<br>
            •Deal with issues or breaches of the agreement as soon as they arise.<br>
            •Whenever necessary, get in touch with a lawyer for proper legal advice.<br>
            •Google a prospective landlord/tenant/company name before entering a rental agreement.
          </div>
        </p-accordionTab>
        <p-accordionTab header="8. I THINK A RENTAL AD ON THE SITE IS A SCAM, WHAT DO I DO?">
          <div class="answer">
            Ans:&nbsp;If you find a property that you think is a scam, please contact us. There is a "Report Listing"
            button
            in
            each listing. Please fill out the form to notify us and we will look into the issue as soon as possible.
            Please also check out the alert page which features some more information and examples of recent scams.
          </div>
        </p-accordionTab>
        <p-accordionTab header="9.Is registration free on nearluk.?">
          <div class="answer">
            Ans:&nbsp;Yes, Registration is completely free on nearluk.
          </div>
        </p-accordionTab>
        <p-accordionTab header="10.Can I post a free listing to sell or rent my property?">
          <div class="answer">
            Ans: &nbsp;Yes, click on the following link to post a property advertisement for free.
          </div>
        </p-accordionTab>
        <p-accordionTab header="11.Can I create multiple accounts on nearluk?">
          <div class="answer">
            Ans: &nbsp;No, only one account can be created while registering on nearluk.
          </div>
        </p-accordionTab>
        <p-accordionTab header="12.What will Agent do?">
          <div class="answer">
            Ans:&nbsp;The Agent will handle all enquiries on call and will filter buyers / tenants meeting your
            requirements
            on
            your behalf.
          </div>
        </p-accordionTab>
        <p-accordionTab header="13.What is Extend Duration in a listing?">
          <div class="answer">
            Ans:&nbsp;This option will set the expiry of listings as two months from the date of extend by
            consuming one listing from selected subscription.
          </div>
        </p-accordionTab>
        <p-accordionTab header=" 14.For how long will my property advertisement be live on the website?">
          <div class="answer">
            Ans:&nbsp;Standard live duration of a listing is 61 days.
          </div>
        </p-accordionTab>
        <p-accordionTab header="15.When my property advertisement will be visible on the website?">
          <div class="answer">
            Ans:&nbsp; A listing usually takes maximum of 24 working hours to get screened and become visible on search
            result
            page. Once your property listing is screened, it will automatically be visible on the site.
          </div>
        </p-accordionTab>
        <p-accordionTab header="16.How do I contact a property advertiser?">
          <div class="answer">
            Ans:&nbsp;
            •To contact the property advertiser, click on the 'Contact Owner/Dealer/Builder' option below the
            property.<br>
            •Enter your details in the form provided.<br>
            •Enter the OTP received on your mobile number.<br>
            •As soon as you enter the OTP, your message will be sent to the owner/dealer/builder.<br>
            •You can also click ""View Phone No."" tab. Once you enter the details in the form provided , the phone
            number of the advertiser will be displayed on the screen and sent to you on your Mobile number and Email
            ID.
          </div>
        </p-accordionTab>
        <p-accordionTab header="17.What should I keep in mind while uploading property photographs? ">
          <div class="answer">
            Ans:&nbsp;
            •Nearluk perform several Quality checks before screening the property photographs and make it live on the
            website. The photographs are rejected, if found inappropriate.<br>
            •The property photographs must be relevant to your property type, for e.g. a property posted as an
            apartment
            should not have a photograph for a row house or land.<br>
            •The property photographs with contact number, email ID, company’s name, owner’s name, property address,
            watermark, website address or artistic and imaginary photographs would not be uploaded.<br>
            •Photographs displaying anything other than the property features and amenities would not be uploaded.<br>
            •The supported photographs formats are “jpeg” and “png”, with a maximum acceptable file size of 5 MB, and a
            minimum of 10 KB.<br>
            •Up to 8 photographs can be uploaded for each listing advertisement.
          </div>
        </p-accordionTab>
        <p-accordionTab header="18.How do I contact a property advertiser?">
          <div class="answer">
            Ans:&nbsp; To contact the property advertiser, click on the 'Contact Owner/Dealer/Builder' option below the
            property.
          </div>
        </p-accordionTab>
        <p-accordionTab header=" 19.What is the procedure for posting my property for sale or rent on your site?">
          <div class="answer">
            Ans:&nbsp;
            •To begin with you must be a registered member of Nearluk, once you are a registered member you can list
            your
            property for rent. To post your property on our site, please follow these simple steps:-
            •Login to your Nearluk account.<br>
            •Click on Post Property.<br>
            •Enter all the details of your property in the form.<br>
            •Add property photos if you wish.<br>
            •Click on submit.<br>
            •After you add your details, it will be screened for validation. After your property listing is validated,
            it
            will be visible to all Neraluk users.
          </div>
        </p-accordionTab>
        <p-accordionTab header="20.How many properties can I post on your site?">
          <div class="answer">
            Ans:&nbsp;Users can post UNLIMITED listings.
          </div>
        </p-accordionTab>
        <p-accordionTab header="21.How do I add a Photograph to my property?">
          <div class="answer">
            Ans:&nbsp;
            •You can add your property photograph by following these simple steps:-<br>
            •Visit nearluk site.<br>
            •Login into your Nearluk account.<br>
            •Click on my properties.<br>
            •Click on edit property.<br>
            •After you have clicked edit property, click choose Images.<br>
            •After selecting images click on upload images.<br>
            •You will now be able to upload an image for your property successfully.
          </div>
        </p-accordionTab>
        <p-accordionTab header="22.What are the benefits of registering on Nearluk? ">
          <div class="answer">
            Ans:&nbsp; Once you register on Nearluk, you can enjoy a suite of benefits. Few of these are mentioned
            below:-<br>
            •Post property & connect with Buyers.<br>
            •Post one property for FREE.<br>
            •Get instant responses via Email & SMS.<br>
            •Get your own Dashboard.<br>
            •Track responses & contact buyers/tenants instantly.<br>
            •Post Your Property Now.<br>
            •Other Services.<br>
            •Participate in Bidding
          </div>
        </p-accordionTab>
        <p-accordionTab header="23.Do I need any documents to register?">
          <div class="answer">
            Ans:&nbsp; You do not require any property related documents for registration. You can simply register
            using your
            email and mobile on Nearluk.
          </div>
        </p-accordionTab>
        <p-accordionTab header=" 24.Is registration on NearlukFREE? Where to register? ">
          <div class="answer">
            Ans:&nbsp; Yes! Registration on Nearluk is completely FREE.
          </div>
        </p-accordionTab>
        <p-accordionTab header="25.I am unable to create a new account. What should I do?">
          <div class="answer">
            Ans:&nbsp; It could be possible that you are already registered based on your past activity. Please go
            ahead and
            login using your registered mobile no./email id.
          </div>
        </p-accordionTab>
        <p-accordionTab header="26.Can I create multiple accounts using same mobile number or email?">
          <div class="answer">
            Ans:&nbsp; No, only unique email ID and mobile number can be used to register on the website.
          </div>
        </p-accordionTab>
      </h6>
    </p-accordion>

  </div>
</div>