#enquiry-form{

    background: white;
   
}

#enq{
    margin: 0px;
}
#card-header{
    color: white
}
#main{
    margin-top:50px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}