
<head>
  <title>About Us|Nearluk</title>
  <meta name="title" content="About Us|Nearluk"/>
  <meta name="description" content="NearLuk is a online Rental,Lease & shared properties platform for Independent Houses,Flats,Villas,Hostels/Paying Guest,Shared spaces,Office spaces,Hotel Bookings,Banquet halls,Commercial properties,Lands in India."/>
  </head>

<div class="containt-fluid ">
  <section class="about_us">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 cpl-md-12">
            <div class="why_content">
              <h4>About Nearluk</h4>
            <span class="small-text">know something about us</span>
            <p class="text">Looking for Rental / Lease / Shared properties? Here we are!! Nearluk, a one stop destination for all Rental / Lease / Shared based transactions. Whether you are an Owner, a Tenant or an Agent, we have the right options to ensure your job is hassle free. Register and Post an advertisement for free! You may also register and search a property  of your preference.</p>
                       </div>
 
        </div>
        <div class="col-lg-6 cpl-md-12">
          <img src="../../assets/img/img.png" width="100%" class="img-fluid">
          </div>
        </div>
        </div>
      </section>
      <section class="mid-content">
      <div class="service-con">
      <h2>OUR FEATURES</h2>
        <p>Our Featured Service that we Provide</p>
    </div>
      <div class="container">
        <div class="row" style="margin:0px;">
           <div class="main-ul">
          <ul>
              <li>
              <p>
                <img src="../../assets/img/icon-1.jpg">
              </p>
              <h2>Agent</h2>
              <p>An Agent is a person who acts as medium between Owner and Tenant.He connects to Owner and Owner connects to
                Agent, it goes vice versa.</p>
              <p></p>
            </li>
               <li>
              <p>
                <img src="../../assets/img/icon-2.jpg">
              </p>
              <h2>Bidding</h2>
              <p>Registered users can bid for a property posted by Owners . Can view the top biddings for a property</p>
              <p></p>
            </li>
              <li>
              <p>
                <img src="../../assets/img/icon-3.jpg">
              </p>
              <h2>Compare</h2>
              <p>A user can compare two properties that he founds reliable and apt from his viewpoint. The factors that are
                involved to compare.</p>
              <p></p>
            </li>
              <li>
              <p>
                <img src="../../assets/img/icon-4.jpg">
              </p>
              <h2>Favourites</h2>
              <p>This option helps to store all the users best-rated properties in “Add to Favorites”. A user can add or remove
                favorites.
              </p>
              <p></p>
            </li>
              <li>
              <p>
                <img src="../../assets/img/icon-5.jpg">
              </p>
              <h2>Maps</h2>
              <p>It is a feature where a map will displayed for every chosen property. It shows the route.</p>
              <p></p>
            </li>

            <li>
              <p>
                <img src="../../assets/img/icon-6.jpg">
              </p>
              <h2>nearU</h2>
              <p>nearU shows the nearby properties located from your current or preferred location.</p>
              <p></p>
            </li>
                 </ul>
        </div>
        </div>
      </div>
      </section>
          <section class="why_us">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 cpl-md-12">
            <div class="why_content">
              <h4>Why Nearluk?</h4>
            <p> NearLuk, a distinctive online rental, lease and shared properties platform for Independent Houses, Flats, Villas, Hostels / Paying Guest, Shared spaces, Office spaces, Hotel Bookings,  Banquet halls, Function Halls, Commercial properties (Shops, Malls, Theatres, Godowns, Schools, Colleges etc.,). Nearluk has unique search options like Bachelor friendly, Family living, Gated Communities, Sharing Rooms, Gender specific spaces etc. NearU makes it easier to find nearby rental properties of the user's current location. Our added features such as   Rental Deposit, Loan facility, Logistics, etc., will help you in getting a desired rental / lease property.</p>
             </div>
            </div>
        <div class="col-lg-6 cpl-md-12">
          <video _ngcontent-c9="" controls="" style="width:100%">
            <source src="http://www.nearluk.com/assets/images/video.mp4" type="video/mp4">
            <source src="http://www.nearluk.com/assets/images/video.mp4" type="video/ogg">
          </video>
           </div>
        </div>
       </div>
      </section>
   </div>


   <app-footer-main></app-footer-main>