
<div class="containt-fluid ">
    <section class="for_agents">
        <div class="container">
        <div class="row">
          <div class="col-lg-6 cpl-md-12">
              <div class="why_content">
                <h4>For Agents:</h4>
              
              <p class="text">Agents get a customized  web platform and mobile app to manage vast properties across different locations. The Chat feature makes the job easier to communicate effectively. The Nearluk team maintains a database of  verified tenanats & owners. The agent can save the database for future use. They can also use the the platform for preparing lease/rental agreements, collecting deposit amounts, following up rental payments, addressing the concerns over the properties. The agent can bid a property in demand.  </p>
                         </div>
          </div>
        </div>
        </div>
    </section>
  </div>



<router-outlet ></router-outlet>