<!-- <div class="col-lg-6 col-md-12 mx-auto">
      
  <div class="card">
   <form #forgotForm='ngForm' (ngSubmit)="Forgotpwd(forgotForm)">
    <div class="card-body">
    
   
    <div class="text-center"><h3> Reset  Password</h3>
    <hr>
    </div>
     
    <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
        <input type='text' placeholder="Enter your email Id " #email="ngModel" name='email' [(ngModel)]="forgot.email" class="form-control">
  </div>
  </div>
  
  <div class="row" id="sub">
  <div class="col-lg-10 col-md-12 mx-auto">
  <button  class="btn btn-info btn-forget"  type='submit'><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</button>
  

  </div>

  </div>
    
  </div>
</form>
  </div> -->



  <div class="col-lg-6 col-md-12 mx-auto">

    <div class="card">
      <!-- 
        (ngSubmit)="Forgotpwd(forgotForm)" -->
      <form #forgotForm='ngForm'>
        <div class="card-body">
  
  
          <div class="text-center">
            <h3> Reset Password</h3>
            <hr>
          </div>
  
          <div class="row" *ngIf="!displayOtp">
            <div class="col-lg-10 col-md-12 mx-auto">
              <input type='text' pInputText pKeyFilter="pint" placeholder="Enter your registered mobile number" #mobile="ngModel" name='mobile' [(ngModel)]="forgot.mobile"
                class="form-control">
            </div>
          </div>
  
  
          <div *ngIf="displayOtp">
  
            <div *ngIf="!updatepassshow">
  
                <input type="text" maxlength="6" pInputText pKeyFilter="pint" autocomplete="off" #otp class="form-control" id="Max" placeholder="Enter OTP sent to {{forgot.mobile}}"
                required>
              <br>
              <a id="resend" (click)="resentOtp(forgot.mobile)">Resend OTP</a>
              <br />
              <div id="otpButton">
                <button [disabled]="otp.invalid" class="btn btn-success" (click)="verifyOtp(otp)">
                  verify</button>
              </div>
            </div>
            
          </div>
  
  
          <div *ngIf="updatepassshow">
              <input type="text"  autocomplete="off" #upassword class="form-control" id="Max" placeholder="Enter your new password"
                required>
              <br>
              <input type="text"   autocomplete="off" #upassword1 class="form-control" id="Max" placeholder="Confirm password"
              required>
              <br>
              <div id="otpButton">
                <button [disabled]="otp.invalid" class="btn btn-success" (click)="updatepassword(upassword,upassword1)">
                  Update Password</button>
              </div>
            </div>
  
          <div class="row" id="sub">
            <div class="col-lg-10 col-md-12 mx-auto">
              <button *ngIf="!displayOtp" (click)='Forgotpwd()' class="btn btn-info btn-forget" type='submit'>
                <i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</button>
  
  
            </div>
  
          </div>
  
        </div>
      </form>
    </div>