<div class="container-fluid" id="mainnav">

    <!-- <div class="container-fluid" id="translater">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navone">
            <div id="google_translate_element"></div>
        </nav>
    </div> -->
    <div class="container-fluid" id="maincontainer">
        <div class="bg-img" width=100%;>
            <div class="topnav">
                <nav class="navbar navbar-expand-md" id="navone">
                    <a class="navbar-brand">
                        <a>
                            <img src="../assets/images/nearluklogo.png" id="logo" height="38px" width="auto" alt=""
                                data-toggle="tooltip " title="nearluk.com" routerLink='home'>
                        </a>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="nav navbar-nav mr-auto">
                        </ul>
                        <ul class="nav navbar-nav mr-right" id="rightnav">
                            <li class="nav-item" id="navtabs">
                                <button class="btn btn-default" routerLink="home" id="infoButtons">Home</button>
                            </li>
                            <li class="nav-item" id="navtabs">
                                <button class="btn btn-default" routerLink="aboutus" id="infoButtons">About Us</button>
                            </li>
                            <li class="nav-item" id="navtabs">
                                <button class="btn btn-default" routerLink="contactus" id="infoButtons"> Contact Us
                                </button>
                            </li>
                            <li class="nav-item" *ngIf="!logstatus" id="navtabs">

                                <button class="btn btn-default" routerLink="login" id="infoButtons"> Login</button>
                            </li>
                            <li class="nav-item" *ngIf="!logstatus" id="navtabs">
                                <button class="btn btn-default" routerLink="registration" id="infoButtons">
                                    Register</button>
                            </li>

                            <li class="nav-item" id="navtabs">
                                <button class="btn btn-default" routerLink="nearu" id="infoButtons"> NearU </button>
                            </li>


                            <li class="nav-item" id="prfl-img" *ngIf="logstatus">
                                <div class="dropdown">
                                    <a class="nav-link" id="navText">
                                        <img [src]=imagepic class="img-responsive" aria-hidden="true"
                                            data-toggle="tooltip" data-placement="top" id="profile-img">
                                    </a>
                                    <div class="dropdown-content" style="line-height:30%;">
                                        <div>
                                            <a class="prfl-drpdn" routerLink="profile">
                                                <span>
                                                    <small id="navtabs" data-toggle="modal"
                                                        data-target="#myModal">Profile</small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus && owner==true">
                                            <a class="prfl-drpdn" routerLink="myagent">
                                                <span>
                                                    <small id="navtabs">My Agent</small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus">
                                            <a class="prfl-drpdn" routerLink="myproperty">
                                                <span>
                                                    <small id="navtabs">My Property</small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus && owner==true">
                                            <a class="prfl-drpdn" routerLink="enquiry">
                                                <span>
                                                    <small id="navtabs">Enquiry </small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus && owner==true">
                                            <a class="prfl-drpdn" routerLink="recommendation">
                                                <span>
                                                    <small id="navtabs">Recommendations</small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus && owner==true">
                                            <a class="prfl-drpdn" routerLink="bidding">
                                                <span>
                                                    <small id="navtabs">Bidded Properties</small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus">
                                            <a class="prfl-drpdn" routerLink="favourites">
                                                <span>
                                                    <small id="navtabs">Favourites </small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus">
                                            <a class="prfl-drpdn" routerLink="faqs">
                                                <span>
                                                    <small id="navtabs">Faqs</small>
                                                </span>
                                            </a>
                                        </div>
                                        <div *ngIf="logstatus && agent==true">
                                            <a class="prfl-drpdn" routerLink="myowner">
                                                <span>
                                                    <small id="navtabs">My Owners</small>
                                                </span>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="prfl-drpdn" routerLink="changepassword/:id">
                                                <span>
                                                    <small id="navtabs">Change password </small>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="prfl-drpdn" id="logout">
                                            <a (click)="LogoutClick()" routerLink="logout">
                                                <span>
                                                    <small id="navtabs">Logout </small>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item dropdown" *ngIf="logstatus">

                                <!-- <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false"
                                    (click)="msgcountt()">
                                    <i class="fa  fa-envelope">{{msgcount}}</i>
                                </a> -->

                                <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false"
                                    (click)="msgcountt()">
                                    <img src="../assets/images/message.png" style="height: 30px;width: 30px"
                                        alt="">{{msgcount}}
                                    <!-- <i class="fa  fa-envelope">{{msgcount}}</i> -->
                                </a>

                                <a class="nav-link text-light" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"
                                        (click)="getNotificationsbyuserid();getNotificationsbyuserid1()">{{notificationscount}}</i>
                                </a>
                                <ul class="dropdown-menu" style="position: fixed;">
                                    <div *ngIf='notifyvisible == false'>
                                        <h5>
                                            No Notifications
                                        </h5>
                                    </div>
                                    <div *ngIf='notifyvisible == true'>

                                        <li class="head text-light bg-dark">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-12">
                                                    <span>Notifications{{notificationscount}}</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="notification-box">
                                            <div class="container py-3" infiniteScroll [infiniteScrollDistance]="2"
                                                [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
                                                [scrollWindow]="false" style="height: 300px; overflow-y: scroll;">


                                                <div id="notify" class="notify" *ngFor="let notify of notifications">
                                                    <div *ngIf="notify.touser_id===userid">
                                                        <div *ngIf="notify.notification_type==='favourite' ">

                                                            <h6 style="color:#2c76b4">Favourite</h6>


                                                            &nbsp;
                                                            <b>{{notify.name}}</b> has added
                                                            <b>{{notify.propertyname}}</b> in his favourites on {{notify.created_on
                                                            | date:'medium' }}

                                                        </div>

                                                        <div *ngIf="notify.notification_type==='bidding' ">

                                                            <h6 style="color:#2c76b4">Bidding</h6>
                                                            <b>{{notify.name}}</b> has bidded
                                                            <b>{{notify.propertyname}}</b> in your property on {{notify.created_on
                                                            | date:'medium'}}

                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </li>
                                        <button class="btn btn-info vllbtn" (click)='ViewAll()'>View All</button>
                                    </div>
                                </ul>
                            </li>

                            <link rel="stylesheet" type="text/css"
                                href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

                            <li class="nav-item dropdown" *ngIf="logstatus">


                                <a class="nav-link text-light" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-plus" (click)="agentRequest()"></i>
                                </a>
                                <ul class="dropdown-menu" style="position: fixed;">
                                    <div *ngIf='notificatiosdisplay == false'>
                                        <h5>
                                            No Notifications
                                        </h5>
                                    </div>
                                    <div *ngIf='notificatiosdisplay==true'>

                                        <li class="head text-light bg-dark">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-12">
                                                    <span> Request Notifications</span>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="container py-3" infiniteScroll [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
                                            style="height: 300px; overflow-y: scroll;">

                                            <div id="notify" class="notify" *ngFor="let notify of notifications">
                                                <div *ngIf="notify.notificationtype=='request'" class="item-section">
                                                    <h6 style="color:#2c76b4">Request</h6>
                                                    <b (click)="agentprofile(notify.fromuserid)">{{notify.email}}</b>
                                                    has send you request for Property {{notify.propertyname}}
                                                    <br>
                                                    <br> &nbsp;
                                                    <button type="button" pButton icon="pi pi-check"
                                                        (click)="addAgentRes(notify.fromuserid,notify.propertyid,notify.id)"
                                                        label="Accept" class="acpt-btn">Accept</button>
                                                    &nbsp;
                                                    <button type="button" pButton icon="pi pi-close"
                                                        (click)="reject(notify.fromuserid,notify.propertyid,notify.id)"
                                                        label="Reject" class="ui-button-secondary">Reject</button>
                                                </div>

                                                &nbsp;
                                                <div *ngIf="notify.notificationtype==='agentremoved'"
                                                    class="item-section">
                                                    <h6 style="color:#2c76b4">Removed as Agent</h6>
                                                    {{notify.message}}
                                                </div>
                                                <div *ngIf="notify.notificationtype=='accept'" class="item-section">
                                                    <h6 style="color:#2c76b4">Accepted</h6>
                                                    <b (click)="agentprofile(notify.fromusername)">{{notify.email}}</b>
                                                    has accepted your request for {{notify.propertyname}}
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <button class="btn btn-info vllbtn1" (click)='ViewAll()'>View All</button>
                                    </div>
                                </ul>
                            </li>
                            &nbsp;

                            <li class="nav-item" id="navtabs">
                                <div class="nav-link" id="navText">
                                    <button class="flash-button" type="submit" (click)="postproperty()">
                                        <b>Post Free Ad</b>
                                    </button>

                                </div>
                            </li>

                            &nbsp;&nbsp;
                            <li class="nav-item" id="navtabs">
                                <div id="google_translate_element" class="trans"></div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<div id="compare">
    <div class="footer" *ngIf="comparecount!=0">
        <a>
            <button class="btn btn-info" id="cmpbtn" (click)="btnCompare()">Compare({{comparecount}})</button>
        </a>
    </div>
</div>