<div style="align-content: center;margin-top: 10%" *ngIf="myagent?.length==null">

  <div id="noPropText">
    <img src="../../../assets/images/nofavourites.png" class="img-fluid" style="width:100%;height:500px">
  </div>

</div>



<div class="container-fluid py-3"  id="style-1" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false" style="height: 900px; overflow-y: scroll;"
  *ngIf="myagent?.length!=null">
  <div class="row" style="margin-top: 10%" >
    <div class="col-lg-3" *ngFor="let agent of myagent">
      <div class="card">
        <div class="card-body">
          <div class="img-wrapper">
            <img [src]=agent.img  width="100%" height="200px"> </div>
          <div class="data-field ">
            <div class="name-field">
              <h6>
                <span>
                  <i class="" aria-hidden="true" (click)="moredetails(agent.propertyid)"
                    title={{agent.propertyname|titlecase}}></i>
                </span>{{agent.propertyname}}</h6>
            </div>
            <div class="date-field">
              <h6>
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span> {{agent.posteddate | date}}</h6>
            </div>
          </div>
          <div class="row mid-con" style="margin:0px;">
            <div class="left-part">
              <div class="con-bar">
                <span class="text-bold">
                  <i class="" aria-hidden="true"></i>
                </span>Price :
                <span>
                  <b>{{agent.price}}/{{agent.rentalperiod}}.</b>
                </span>
              </div>

              <br>
              <div class="con-bar">
                <span class="text-bold"></span>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>&nbsp; <b>Agent Info : </b></span>
              </div>

              <div class="con-bar">
                <span class="text-bold">
                  <i class="" aria-hidden="true"></i>
                </span>Name :
                <span>
                  <b>{{agent.name|slice:0:10}}</b>
                </span>
              </div>

              <div class="con-bar">
                <span class="text-bold">
                  <i class="" aria-hidden="true"></i>
                </span>
                Mobile :
                <span>
                  <b *ngIf="agent.mobile==null">NA</b>
                  <b *ngIf="agent.mobile!=null">{{agent.mobile}}</b>
                </span>
              </div>

              <div class="con-bar">
                <span class="text-bold">
                  <i class="" aria-hidden="true"></i>
                </span>
                Qualification :
                <span>
                    <b *ngIf="agent.occupation==null">NA</b>
                  <b>{{agent.occupation}}</b>
                </span>
              </div>
            </div>

            <div class="right-part">

              <div>
                <button type="button" class="btn btn-danger btn-xs btn-del">
                  <i class="fa fa-trash-o" (click)="deleteAgents(agent.propertyid,agent.agentuserid,agent.propertyname)"
                    aria-hidden="true"></i>
                </button>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
