<div style="align-content: center;margin-top: 10%" *ngIf="favourites?.length==null">
  <div id="noPropText">
    <img src="../../../assets/images/nofavourites.png" class="img-fluid" alt="You haven't added any properties .."
      style="width:100%;height:600px">
  </div>
</div>

<div class="loading" id="style-1" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false" style="height: 900px; overflow-y: scroll;">
  <div class="container" style="margin-top:7%;">
    <div class="row">
      <div class="col-lg-3" *ngFor="let prop of favourites" id="mycard">
        <div class="card">
          <div class="card-body">
            <div class="img-wrapper">
              <div class="container2" (click)="moredetails(prop.id)">


                <img [src]=prop.img class="img-fluid" width="100%" height="200px">
                <div class="content1">
                  <div class="vertical-center">
                    <h6>NearLuk</h6>

                  </div>
                </div>
              </div>
            </div>
            <div class="data-field ">
              <div class="name-field">
                <h6>
                  <span>
                    <i aria-hidden="true" id="username" title={{prop.propertyname|titlecase}}
                      (click)="moredetails(prop.id)"></i>
                  </span> {{prop.propertyname|slice:0:10}}</h6>
              </div>
            </div>
            <div class="row mid-con" style="margin:0px;">
              <div class="left-part">
                <div class="con-bar">
                  <span class="text-bold">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </span>
                  <span>
                    {{((prop.cityname?.length>10)?(prop.cityname|slice:0:10)+'...':(prop.cityname))}} </span>
                </div>
                <div class="con-bar">
                  <span class="text-bold"></span>
                  <i class="fa fa-th-large" aria-hidden="true"></i>
                  <span>
                    {{((prop.propertytype?.length>10)?(prop.propertytype|slice:0:10)+'...':(prop.propertytype))}}
                  </span>
                </div>
                <div class="con-bar">
                  <span class="text-bold">
                    <i class="fa fa-home" aria-hidden="true"></i>
                  </span>
                  <span>
                    {{prop.price}}/{{prop.rentalperiod}} </span>
                </div>
              </div>
              <div class="right-part">
                <div>
                  <button type="button" class="btn btn-danger btn-xs btn-del" (click)="delete(prop.id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row" style="margin:0px;">
              <div class="d-inline mx-auto center">
                <span class="more-del" (click)="moredetails(prop.id)">More Details</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>