<div class="container" style="margin-top: 10%">
    <div class="headding" id="head">
        <h4 style="font-family:verdana;">
            <u>Advertising with us - Terms and Conditions</u>
        </h4>
    </div>
    <p-tabView id="adver">
        <p-tabPanel header="Advertising" [selected]="true">
            <div class="content" id="cont">

                <p>The property ads given by the Owner(s) and Agent(s) for the rental commercial and non commercial properties
                    in Nearluk must comply with these terms and conditions.</p>
                <ul>
                    <li>Nearluk provide a free medium by means of which information(s) about the rental properties is placed
                        before Tenant(s) so that the Tenant(s) might communicate with the Owner(s) and Agent(s).
                    </li>

                    <li>
                        The rental property advertisers should comply with any reasonable instructions given by Nearluk, and provide each and every
                        information and help reasonably mandatory by Nearluk.
                    </li>
                    <li>
                        The rental property advertisers must not to place any Content on the Nearluk which relates to the rent of Properties.
                    </li>
                    <li>
                        The rental property advertisers must agree to remove from the Nearluk site and/or application any Content that relates to
                        commercial or non commercial rental properties that are no longer available for renting within 72
                        hours of those Properties. The rental property advertisers must agree that Nearluk might remove such
                        Content (without being obliged to do so), if the advertisers fail to do so.
                    </li>
                    <li>
                        The rental property advertisers must agree to use Nearluk site and/or application acting reasonable and not to place excessive
                        Content on the Nearluk site and/or application or any Content that relates to Properties that are
                        not yours or you have no right to post and ad for it.
                    </li>
                    <li>
                        Nearluk does not check or exercise editorial control over the rental property advertisers Content however Nearluk reserves
                        the right to access or examine any Content posted by the advertisers.
                    </li>
                    <li>
                        At Nearluk discretion to amend, move, remove or disable access to the rental property advertisers Content which Nearluk consider,
                        in our reasonable opinion to breach any Applicable Law or to be opposing to this Agreement or otherwise
                        unacceptable.
                    </li>
                    <li>
                        Relating to any Content posted by the rental property advertisers, the advertisers grant Nearluk a perpetual, irrevocable,
                        royalty–free license throughout the world to use, reproduce, modify, adapt, publish, translate, sublicense,
                        create derivate works from, include in other works (whether electronic or not), distribute, perform
                        and display such Content, whether in whole or in part.
                    </li>
                    <li>
                        The rental property advertisers acknowledge that Nearluk is not involved in any transaction that may be entered into between
                        any User(s) and you.
                    </li>
                    <li>
                        Nearluk have not reviewed each site that are linked to Nearluk and Nearluk not responsible for the content or accuracy of
                        any off–site pages or any other sites linked to Nearluk (which includes without limitation sites
                        linked in the course of advertisements or in the course of any search engines).
                    </li>
                    <li>
                        Few links which appear on Nearluk are automatically generated, and might be offensive or unsuitable to a number of people.
                        The inclusion of any link does not mean that Nearluk give your support to the linked site, and Owner(s)/Tenant(s)
                        and Agent(s) use the links at your own risk.
                    </li>
                    <li>
                        The Owner(s)/Tenant(s) and Agent(s) communication or dealings with, or involvement in promotions of, advertisers on the Nearluk
                        are exclusively between you and such advertisers.
                    </li>
                    <li>
                        Nearluk will not be legally responsible or liable for any loss or damage of any sort incurred as the consequence of any such
                        dealings or as the consequence of the presence of advertisements on the Site and/or Application
                    </li>
                    <li>
                        The Owner(s)/Tenant(s) and Agent(s) acknowledge that Nearluk shall promote, distribute and advertise this Site towards a
                        wide variety of users in the public domain which includes directly linked and not linked business
                        networks, corporate and additional groups and that such advertising, distribution or publicity shall
                        contain any information(s) provided by the Owner(s)/Tenant(s) and Agent(s) on Nearluk, and the Owner(s)/Tenant(s)
                        and Agent(s) agree that Nearluk shall not be legally responsible or liable for any loss or damage
                        of any sort incurred as the consequence of such promotion.
                    </li>

                </ul>

                <p>
                    Nearluk offers the service of advertise with us for the purpose of Sponsorship from external parties. Thus, the rental property
                    advertisers, namely the Owner(s) and Agent(s) as well as the external parties who are posting ads in
                    Nearluk must comply with these terms and conditions.
                </p>


                <ul>
                    <li>
                        Advertiser in Nearluk may submit material for contextual advertisements by way of logging into his/her account from our homepage.
                        Nearluk has the right to reject or remove any contextual ad at its sole discretion. Nearluk represents
                        and warrants that:
                    </li>
                    <li>
                        The advertiser(s) is the owner or are licensed to use the advertisements and all subject matter contained therein;
                    </li>
                    <li>
                        The advertiser(s) ads are and shall be free of any worm, virus, or other device that could impair or injure any person or
                        our service.
                    </li>
                    <li>
                        The advertiser(s) must be acquainted with the laws and regulations governing the Internet and the designated countries and
                        the advertiser(s) shall comply with every applicable laws and regulations.
                    </li>
                    <li>
                        The advertiser(s) or their ads shall not violate or breach any law or regulation, which includes, but not limited to, laws
                        governing privacy such as GDPR, false or deceptive advertising, sweepstakes, comparative advertising,
                        or trade disparagement
                    </li>
                    <li>
                        The advertiser(s) ads must not and will not consists of any misrepresentations or content that is defamatory, breach any
                        rights of privacy or publicity, consists of content(S) that is violent, obscene, or offensive, which
                        includes content(s) that contains nudity or implied nudity or content that is ethically or morally
                        offensive or sexually suggestive, promote or support gambling, unless authorized by law.
                    </li>
                    <li>
                        The advertiser(s) or their advertisements must not infringe any intellectual property or proprietary right of any third party.
                    </li>
                    <li>
                        The advertiser(s) shall not, nor will the advertiser authorize any third parties to. generate fake, automated, or otherwise
                        invalid information(s), data(s), or actions linked to the advertiser(s) advertisements in Nearluk’s,
                        or use robots, or any other automated query tools, computer-generated search requests and/or any
                        additional similar results-optimization means, or advertise anything prohibited or involve in any
                        unlawful or fake business practice in Nearluk’s site and application.
                    </li>
                    <li>
                        Nearluk’s, in its sole discretion, might not approve an advertiser’s ad Nearluk is not obliged to give reasons to the advertiser
                        and why their ad has or has not been approved. Every decisions made by Nearluk in this matter shall
                        be final
                    </li>
                </ul>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Owners">
            <div class="content" id="cont1">
                <P>
                    The advertiser(s) must put up with but not limited with the following guidelines with regard to its Ads. If the advertiser(s)
                    violates any of the guidelines below as determined by Nearluk in its sole discretion, Nearluk can suspend
                    and/or terminate your account without giving notice to you.
                </P>
                <div>
                    <ul>
                        <li>
                            Every ads should include the name of the program or agency or company that brought the ad
                        </li>
                        <li>
                            An ad that consists of audio should have an “off” button.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad consist of offers for display racks, pay phones, “get rich quick,” day trading etc.
                            The ad shall be canceled upon consumer complaint.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad promise good pay in a short period of time with little effort.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad promise to make high earnings claims.
                        </li>
                        <li>
                            Nearluk does not allow or support ad that contains or promote an adult or illegal product, service or behavior or be otherwise
                            inappropriate for children.
                        </li>
                        <li>
                            Nearluk does not allow or support ad that seek to take advantage of children’s inexperience or innocence, or if the ad or
                            its landing page collect and gather personal information(s) from children under 18 the advertiser
                            shall be dealt with the applicable laws of the concerned jurisdiction.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad misleads, deceive, or confuse our user(s), which includes misleading user(s) into visiting
                            another site or downloading files.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad contain malicious or exploit code.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad change/replace the links of the site/in the site.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad does not state where applicable, in-text link shall be clear and obvious to user(s).
                        </li>
                        <li>
                            Nearluk is not responsible if the ad make any claim which states that the product can cure or treat a disease, which includes
                            (but not limited to) cancer, AIDS, AD/HD, Alzheimer’s, tumors, insomnia, arthritis or impotency,
                            etc.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad make any false claim which states that it can cure a wide range of ailments.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad make any claim which states that the product is a natural or safe alternative to prescription
                            drugs.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad does not clearly disclose any required purchase.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad does not clearly disclose any additional important conditions on receiving the “free”
                            item.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad does not include an obvious way to close the ad (the closing button must not trigger
                            another ad).
                        </li>
                        <li>
                            Nearluk is not responsible if the ad force the landing page to pop over the publisher website.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad invokes a file download (no direct download/auto download).
                        </li>
                        <li>
                            Nearluk is not responsible if the ad where the mouse over links take users away from the page (i.e. mouse hover must not
                            function as a click).
                        </li>
                        <li>
                            Ad related to gambling is illegal, unless authorized by law in specific countries.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad does not make clear or ensure that any action taken by a consumer with respect to the
                            ad (e.g., clicking on a certain spot) must not surprise him/her.
                        </li>
                        <li>
                            Nearluk will not allow ads for any group that is involved in hate speech or acts are prohibited.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad make claims touching on health or safety that are too good to be true.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad make claims that could reasonably involve a risk to health or safety.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad don’t consist of information about any significant risks associated with the product.
                        </li>
                        <li>
                            The promotion, sale, import, export, and distribution of medical products, which includes drugs, medical devices, and biologics,
                            are sternly controlled by the respective state laws and regulations in different countries. If
                            you are an Advertiser of such products, you must represent that you completely abide by the respective
                            state laws and regulations in different countries governing such products.
                        </li>
                        <li>
                            Ads which contain or include pornography are not allowed in Nearluk.
                        </li>
                        <li>
                            Ads which contain or include nudity, obscenity, or dirty language are prohibited in Nearluk.
                        </li>
                        <li>
                            Ads which contain or include provocative content should be assigned a warning so that Nearluk may decide whether or not it
                            is appropriate for our site or not.
                        </li>
                        <li>
                            Ads for “spyware” (adware) are prohibited in Nearluk.
                        </li>
                        <li>
                            Ads with landing page warnings, alerting, or suggesting than an end user has any kind of computer virus or threats are prohibited
                            in Nearluk
                        </li>
                        <li>
                            Nearluk is not responsible if the ads for a product and/or service that is downloaded onto the user’s machine are acceptable
                            only if:
                        </li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>
                            The download begins only after the user clicks through to the advertiser’s website (i.e., no automatic downloads);
                        </li>
                        <li>
                            The user is required to affirmatively agree to the download in order for it to begin; and
                        </li>
                        <li>
                            Prior to agreeing to the download, the user is clearly told: (1) exactly what product(s) and service(s) will be installed;
                            and (2) exactly how the downloaded product(s) and service(s) will function, including what personal
                            information, if any, it/they will collect and/or use.
                        </li>
                    </ol>
                </div>
                <div>
                    <ul>
                        <li>
                            Nearluk is not responsible if the ad state or imply that a person has already won, without disclosing all conditions on receipt
                            of the prize.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad require a purchase to enter a sweepstakes.
                        </li>
                        <li>
                            Nearluk is not responsible if the telecommunications products and services ad does not disclose or link to the users the
                            activation or initiation fees, any recurring charges, any required contract term, any early termination
                            fees, the number of peak and off-peak minutes and the hours they apply, charges for excess minutes,
                            whether charges apply for calls that are out of network or out of a certain geographic area,
                            whether the offer is for only a limited period and, if so, the fees for the remainder of the
                            contract; and any additional fees, taxes or surcharges and the amount of these kept by the carrier.
                        </li>
                        <li>
                            Nearluk is not responsible if the testimonial does not make a claim that is too good to be true.
                        </li>
                        <li>
                            Nearluk is not responsible if the testimonial does not made by an actual user of the product and reflect their honest opinions.
                        </li>
                        <li>
                            Nearluk is not responsible if the testimonial does not make a claim that is not true for every consumer, unless there’s an
                            adequate disclosure.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad does not use the trademarks or logos in a way that could negatively reflect on the third
                            party or its brand or lead to consumer confusion between the third party and the Advertiser.
                        </li>
                        <li>
                            The ad that contains video should include a functioning “stop” button.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad make claims that could reasonably involve a risk to health or safety.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad makes any false claims or state or implies that the product or plan will lead to substantial
                            weight loss for all users.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad makes any false claims or state or implies that the product or plan would lead to permanent
                            weight loss.
                        </li>
                        <li>
                            Nearluk is not responsible if the ad makes any false claims relating to lose weight to users about their products or services.
                        </li>
                    </ul>
                </div>
                <b>Termination</b>
                <div>
                    <p>Nearluk shall right away and without liability terminate the supply of the Service or part of the Service
                        to the advertisers effective from the date of service of a notice to the advertisers (or with effect
                        from such later date as Nearluk shall specify in such notice) if:</p>
                    <ul>
                        <li>
                            the advertisers default in the performance or execution of any other obligation under these terms and conditions and, in
                            the case of a violation capable of remedy, the advertisers fail to correct that breach within
                            a stipulated time given by Nearluk;
                        </li>
                        <li>
                            Nearluk reasonably suspect fraud or misuse of the Service on the advertisers part; or
                        </li>
                        <li>
                            it is necessary for Nearluk to do so to obey with any law or an order, instruction or request of a government body or agency.
                        </li>
                    </ul>
                </div>
                <b>Force Majeure</b>
                <p>Nearluk is not legally responsible for any failure to perform, or for any delay in performing any of Nearluk
                    obligations under this Agreement where the failure or delay is occasioned by: strike or other industrial
                    action; any act or omission by the advertisers or any third party; fire, flood, war or cable cut; any
                    act of God or nature; any other event beyond our reasonable control.</p>
                <div>

                </div>
                <b>Complaint and Fault Reporting</b>
                <p>
                    Any enquiry or complaints relating to Nearluk Services, please contact us at info@nearluk.com¦ support@nearluk.com
                </p>
                <p>
                    If you want to call us or send us a letter, please reach us at Plot No. 62, Nagarjuna Hills, Punjagutta, Hyderabad Telangana,
                    +91-40-6610-7755 ¦ +91-97030-77755
                </p>
                <p>
                    Working hours- 10 Am to 6PM, Monday to Saturday
                </p>
                <p>
                    <b>
                        Note: These guidelines should be read with the terms and conditions and Privacy Policy and other related policies mentioned
                        in the website and application at Nearluk.
                    </b>
                </p>

            </div>
        </p-tabPanel>
    </p-tabView>
    <br>
</div>

<router-outlet></router-outlet>