.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 8%;
  color: rgb(136, 0, 0);
  text-align: center;
}
#noAgents{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#auname{
color:#46b8da;
 }
#cards{
padding:15px 15px 15px 15px;
 border-radius:20px;
 box-shadow: 2px 6px #e9e3e3;
 background-color: rgb(248, 248, 233);
 margin: 10px;
     }
 #cards:hover{
 background-color: rgb(243, 243, 207);
}
#username{
 color: rgb(99, 197, 197)
 }


#agentcard{
 top:100px;
}


#buttons{
padding-top:3.5em;

}
/* ==popup= */
#prflhead {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
margin-top: 30px;
}

#profile-img {
height: 150px;
width: 150px;
border-radius: 50%;
}




#profilebg {
background-color: white;
border-radius: 10px;
border: #17a2b8 solid 1px;
}

#prfl {
/* /padding-top: 40px; */
padding-bottom: 40px;
overflow: hidden;
}

.text{
padding-bottom:20px;
}

/* ============= */
#staticImage{
height:500px;
}

.card{
margin-bottom:1em;
z-index: 0;
overflow: hidden;
}
input[type="checkbox"]{
width: 15px; 
height: 15px;
margin: 10px;
}
  
#rent{
border-right: 1px solid #eee;
padding: 0px 10px 3px 9px;
}
#cards:hover {
background-color: white;
overflow: hidden;
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

#username {
color: rgb(99, 197, 197);
cursor: pointer;
padding-top:10px;
}
#imgname{
color:rgb(29, 27, 27);
font-weight: bold;
font-size: 13px;
font-family: sans-serif;
text-align: center
}

#textHeading{
padding-left:35%;
font-size: 1em;
color: #17a2b8;
padding-top: 15px;
padding-bottom: 15px;
}



#pimg{
padding: 15px;
}
#pimg img{
padding: 15px;
  border: 1px solid #f0eeee;
  background-color: #f0eeee;
  margin-bottom: 10px;


}

.card1{
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  background-color: #fff;
  color: #303030;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  transition: all .15s ease-in-out;
  cursor: pointer


}
.card1:hover{

  box-shadow: 0 6px 10px 0 rgba(0,0,0,.15);


}
.card-block px-3{
  padding: 10px;
}


.morebutton{
background-color: white; 
color: black; 
border: 2px solid #008CBA;
height: 38px;
border-radius: .25rem;
margin: 10px;
margin-left: 40px;
}
.morebutton:hover{
  background-color:#17a2b8; 
  color:white; 
  border: 2px solid #008CBA;
  height: 38px;
  border-radius: .25rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
  }
  #headdingtext{
color:#BDBDBD;
font-size:16px;
}
#addagentbtn{
margin-bottom: 10px;
}

.img-cercle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.fa-check-circle{
  margin-top: 40px;
  float: right;
  font-size: 15px;
  color: green;
}

.modal-header{
  background-color: #17a2b8;
}
.modal-title{
  color: white;
}
.close{
  color: white;
}















.card-body {
  padding:5px;
  color:#053535;
}
body {
  background-color:#edefef;
}
.card {
  margin-top:20px;
  margin-bottom:60px;
  box-shadow: 0px 20px 45px 0 rgba(27, 29, 67, 0.1);
}
.text-center {
  text-align:center;
  margin-bottom:40px;
}
.text-center h3 {
  text-align:center;
  color:#00a5a9;
}
.logo img {
  width:50px;
  height:50px;
  background-color:#999999;
  margin:auto;
}
.btn-forget {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
img-wrapper {
  width:100%;
  padding:0px;
}
/* =================================  */
   
   .data-field {
  width: 100%;
  padding: 15px;
 
    display: block;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding-bottom:8px;
}
.name-field {
  width:50%;
  display:inline-block;
 
}
.date-field {
  width:50%;
  display:inline-block;
 
  text-align:right;
}
.date-field h6 {
  font-size:13px;
}
.name-field h6 {
  font-size:13px;
}
.right-part {
  float:right;
  width:40%;
  text-align:right;
  font-size:13px;
}
.left-part {
  float:left;
  width:60%;
  text-align:left;
  font-size:13px;
}
.mid-con {
  padding:15px;
}
