

#container-2{
    padding:10% 10% 10% 10%;
}

#text2{
    color:black
}
#submitbutton{
    background-color: #17a2b8;
    margin-left: 7em;
}


#text-right{
    padding-top:40px;
}
span{
    color: red
}