
<div class="container"  ng-show="showApple" style="margin-top: 10%">
    <div class="headding" id="head">
            <h4 style="font-family:verdana;"><u> Privacy Policy</u></h4>
    </div>
    <br>

    <div class="content">

        <b>Introduction</b>
        <p>
            Nearluk are committed towards respecting the online privacy of the user(s) and member(s) using our
            services. Nearluk strive to offer our user(s) or member(s) a safe and secure user experience and
            recognize the requirement for protection and proper management of any information (Personal Information)
            of the user(s) or member(s) share with us.

        </p>
        <p>
            Each time the user(s) or member(s) visit our Site and/or Application and provide us with their personal
            information(s), the user(s) or member(s) are doing so, by accepting the terms and conditions mentioned
            in the terms and conditions section in the webpage/application of Nearluk at that time. The user(s) or
            member(s) of our site agrees that by using our website and/or application the user(s) or member(s) are
            expressly and voluntarily consenting to the disclosure of the information that the user(s) or member(s)
            provides us, and accepting to receive emails and notification alerts.
        </p>

        <b>Information We collect</b>
        <p>Nearluk collects information about the user(s) or member(s) when they use our website and/or application. We
            directly collect information(s) from the user(s) or member(s) online account databases, for example the
            user(s) or member(s) name, contact information, phone number, etc. We also collect and gather the
            information(s) regarding the user(s) or member(s) location, and information(s) about the devices the user(s)
            or member(s) using or used to access Nearluk.
        </p>
        <p>Personal Information here means any information(s) about the user(s) or member(s) used to identity a user(s)
            or member(s) but that does not limited to the user(s) or member(s) first or last name, address, email id or
            any other contact details.
        </p>
        <p>When the user(s) or member(s) visits or leave Nearluk services (including Nearluk’s plugins or cookies or
            related technology on the websites and/or application), Nearluk receive the URL of both the site the user(s)
            or member(s) came from and the one the user(s) or member(s) go to next. Nearluk also get information(s)
            about the user(s) or member(s) IP address proxy server, operating system, web browser and add-ons, device
            identifier and features, and/or ISP or the user(s) or member(s) mobile carrier. If the user(s) or member(s)
            use our Services from the mobile device, that device shall send Nearluk data about the user(s) or member(s)
            location based on the user(s) or member(s) phone settings. Nearluk shall ask the user(s) or member(s) to
            opt-in before Nearluk use GPS or other tools in order to identify the user(s) or member(s) precise location.
        </p>
        <p>Our Services are dynamic, and Nearluk often introduce new and latest features, which might require the
            collection of new information(s). If Nearluk collect or gather materially different personal data(s) or
            materially change how Nearluk use the user(s) or member(s) data(s), Nearluk shall notify the user(s) or
            member(s) and will also update/modify this Privacy Policy.
        </p>
        <b>Information You Give Us
        </b>
        <p>When the user(s) or member(s) fill out registration forms in on Nearluk, submit the details of the commercial
            or non commercial property posting and giving ad in Nearluk for rent, or provide Nearluk with other personal
            information(s) actively, Nearluk collect and gather that information(s) for processing and using in
            compliant with this Policy. Because Nearluk may change its offerings and features from at any time, the
            options the user(s) or member(s) have to provide Nearluk with personal information(s) also may change. We
            have mentioned few examples of situations but not limited to in which the user(s) or member(s) may have the
            opportunity to provide the personal information(s) to Nearluk:
        </p>
        <ul>
            <li>
                Creating an account in on Nearluk;
            </li>
            <li>Signing up for email and phone alerts in on Nearluk;
            </li>
            <li>Completing a form associated to our services;
            </li>
            <li>Uploading the details of the commercial or non commercial rental property posting and giving ad in
                Nearluk;
            </li>
            <li>Contacting Nearluk for technical support or customer service
            </li>
        </ul>
        <p>Depending on how the user(s) or member(s) interact with our website and/or application, the personal
            information(s) Nearluk collect and gather from the user(s) or member(s) can vary. For instance, for creating
            an account Nearluk can ask only for an email address, phone number and password. In any other conditions,
            such as when the user(s) or member(s) complete a form associated to a specific service offering, Nearluk can
            ask the user(s) or member(s) to provide additional information(s), which possibly will consist of the
            user(s) or member(s) name, phone number, and/or postal address, the details of the commercial or non
            commercial rental property posting and giving ad in Nearluk. Nearluk also collect, gather and store few
            information(s) related with actions the user(s) or member(s) take. For example, when the user(s) or
            member(s) search for any property for rent, Nearluk store the rental property searched for, locations and
            price range (if obtainable) of the property the user(s) or member(s) had searched for and clicked on.
            Nearluk also store information(s) regarding the rental property that the user(s) or member(s) bidding to,
            and the time and duration of the user(s) or member(s) activity on Nearluk, and additional information(s)
            regardingthe user(s) or member(s) behaviour on Nearluk.
        </p>
        <p>Nearluk use Google Analytics, amongst others, to track the user behaviour on our Sites and Application.
            Google Analytics specially has been enabled to support display advertising in helping us to gain
            understanding of our user(s) demographics as well as interests. The reports are anonymous and cannot be
            connected with any individual personally identifiable information that the user(s) may have shared with us.
            The user(s) can opt-out of Google Analytics for display advertising and customize Google Display Network ads
            by using the Ads Settings options provided by Google. 
        </p>
        <p>If the user(s) or member(s) connect to our website and/or application by using any social networking account
            like Facebook, Google+, Nearluk shall receive information(s) that the user(s) or member(s) authorizes the
            Social Networking Site to share with Nearluk, which possibly will consist of public profile information(s),
            current city, etc. When Nearluk receive such information(s), it becomes Nearluk account information(s) for
            purposes of the user(s) or member(s) use of our website and application. This information(s) also has
            personal information(s) and is thus subjected to this Policy. Any information(s) that Nearluk collect and
            gather from the user(s) or member(s) Social Networking Site account shall be subjected to the privacy
            settings the user(s) or member(s) have set with the Social Networking Site, so the user(s) or member(s) must
            consult the Social Networking Site's privacy and data practices. The user(s) or member(s) have the ability
            to disconnect the respective Social Networking Site account from their Nearluk account through adapting the
            privacy settings in their Social Networking Site account. If the user(s) or member(s) come to our website
            and application through a Social Networking Site, or from any other websites or with devices that allow
            third parties to collect and gather information(s) from or about the user(s) or member(s), such third
            parties collected information(s) concerning the user(s) or member(s) will subjected towards their privacy
            policies.
        </p>
        <p>At Nearluk, when the user(s) or member(s) set up an individual user account, the user(s) or member(s) creates
            a profile (a "Profile") that shall consist of personal information(s) the user(s) or member(s) provide us.
            When the user(s) or member(s) fill out and save their Profile in Nearluk, the user(s) or member(s) saved
            Profile could be viewed by prospective user(s) in the site, for example, users, members, visitors, property
            owners, tenants, agents and other interested individual(s) related to the rental property, subjected to
            visibility settings of the Nearluk control. Because the user(s) or member(s) anonymity on Nearluk is
            important, the user(s) or member(s) Profile does not include or link towards the information(s)the user(s)
            or member(s) submit to the Platform anonymously (for example, the reviews, property ratings information the
            user(s) or member(s) submit anonymously).
        </p>
        <b>Information We Collect Automatically
        </b>
        <p>When the user(s) or member(s) use Nearluk, the user(s) or member(s) device(s) is automatically provide
            information(s) to Nearluk so that Nearluk could respond and modify Nearluk’s response to the user(s) or
            member(s). The type of information(s) Nearluk gather and collect through automated means commonly includes
            technical information(s) about the user(s) or member(s) computer or device, such as your IP address or any
            other device identifier, the type of device the user(s) or member(s) use, device operating system version,
            device's name, device's serial number or unique identification number, browser type and version, CPU speed,
            and connection speed etc. The information(s) Nearluk gather collect also possibly will include usage
            information(s) and statistics about the user(s) or member(s) interaction with Nearluk. That information(s)
            also possibly will include the URLs of Nearluk web pages that the user(s) or member(s) visited, URLs of
            referring as well as exiting pages, page views, time spent on a page, number of clicks, platform type,
            location data (if the user(s) or member(s) have enabled access to the user(s) or member(s) location on their
            mobile device), and additional information(s) about how the user(s) or member(s) making use of the Platform.
        </p>
        <b>How we Use Information
        </b>
        <p>Nearluk use the information(s) of the user(s) or member(s) in order to deliver the services we offer, respond
            to the user(s) or member(s), and operate and improve our site and application. The services Nearluk offer
            include showing the user(s) or member(s) personalized content and advertising on Nearluk or other sites with
            which Nearluk have a business relationship. Nearluk may use the user(s) or member(s) personal information(s)
            to contact the user(s) or member(s) regarding any new updates, or service-related communications, which
            includes important security updates. The user(s) or member(s) agrees that by using our site and application
            the user(s) or member(s) are expressly and voluntarily consenting to the disclosure of the information(s)
            that the user(s) or member(s) provides us, and accepting to receive emails.
        </p>
        <p>Nearluk don’t share any personally identifiable information of the user, or contact information with the
            third parties websites / advertisers / ad servers without our user(s) or member(s) consent. We only share
            the user(s) or member(s) personal information with third parties if the user(s) or member(s) give consent to
            it, or when the third parties help us to deliver our services to the user(s) or member(s). We use contact
            details and personal information for promotional and marketing purpose only and not for any illegal or
            unlawful purpose. It is applicable for all the users in our site, for example, the owners(s) and tenants(s)
            and agent(s)
        </p>
        <p>
            The Information(s) the user(s) or member(s) publicly share in Nearluk or make noticeable in their profile
            and the user(s) or member(s) profile database may perhaps be accessed, used, and stored by other parties
            around the world. Nearluk strive to provide their legitimate user(s) or member(s) a safe and secured setting
            by trying to limit any unnecessary access to our database, but Nearluk cannot promise that unauthorized
            parties would not gain any access.
        </p>
        <b>Career</b>
        <p>Nearluk Services let the user(s) or member(s) to search careers, and look for, and be found for, suitable
            career opportunities. The user(s) or member(s) profile shall be found by those looking to employ or not to
            employ job seekers (for an employment or a specific task) or be employed by you. Nearluk shall use the
            user(s) or member(s) data to recommend to the user(s) or member(s).
        </p>
        <p>Nearluk shall contact you through email, mobile phone, about the notices modified and/or updated on our
            websites and apps, and additional ways by our Services, which includes text messages and push notifications.
            Nearluk shall send the user(s) or member(s) messages regarding the accessibility of our Services, security,
            or additional service-related issues. Nearluk also send messages to the user(s) or member(s) regarding how
            to use our Services, network updates, reminders, rental property suggestions and promotional messages from
            Nearluk and from our partners. The user(s) or member(s) can change their communication preferences at any
            time at its sole discretion.
        </p>
        <p>Note: The user(s) or member(s) cannot opt-out of receiving service messages from Nearluk, which includes
            security and legal notices.
        </p>
        <b>How We Share Information</b>
        <p>The user(s) or member(s) profile is completely visible to every registered members(s)/visitor(s)/user(s) of
            our Services. Subjected to user(s) or member(s) privacy settings, it shall also be visible to any
            individual, such as any visitor(s) to our Services or user(s) of third- party search engines on or off of
            our Services.
        </p>
        <p>Nearluk don’t share any personal contact information(s) with the third parties for any of their direct
            marketing without our user(s) or member(s) knowledge and consent. We only share the user(s) or member(s)
            personal information with third parties if the user(s) or member(s) give consent to it, or when the third
            parties help us to deliver our services to the user(s) or member(s).
        </p>
        <p>If our user(s) or member(s) bid for a rental property, provide their contact information(s) to express
            interest to rent a property, or give reply to any message from the user(s), for example, the property
            owners, builders, developers, tenants, agents, landlords, institutional property consultants, mortgage
            professionals, etc, Nearluk then share your information(s) with that particular individual who may then use
            the user(s) or member(s) data(s) and contact user(s) or member(s) for any rental property related purposes.
        </p>
        <p>Nearluk may release and transfer their user(s) or member(s) information towards a third party who may acquire
            any or all of our business units</p>
        <b>Legal Disclosures
        </b>
        <p>Nearluk discloses information of their user(s) or member(s) when it is legally necessary, subpoena, or other
            legal procedure or if Nearluk have a good faith and believe that such disclosure is judiciously necessary
            for any investigation, preventing, or taking action concerning alleged or actual unlawful actions or in
            order to assist government enforcement organizations; </p>
        <ul>
            <li>enforce Nearluk agreements with the user(s) or member(s)</li>
            <li>investigate and protect ourselves against any third-party assertions or claims
            </li>
            <li>defend the security or integrity of Nearluk Service (such as by sharing with enterprises facing similar
                risks); or

            </li>
            <li>exercise or defend the rights and security of Nearluk, our user(s) or member(s), employees, or others.
            </li>
        </ul>
        <p>Nearluk notify the user(s) or member(s) regarding any legal demands for their personal data(s) when
            applicable in our judgment, unless restricted by law or court order or when the demand is an emergency.
            Nearluk shall dispute such demands when Nearluk believe, in its sole discretion that the demands are
            overbroad, imprecise or lacks appropriate authority, but Nearluk do not assure or make promises to anyone to
            challenge every demand.
        </p>
        <b>Cookie Policy
        </b>
        <p>Nearluk uses "cookies" and other tracking technologies to able to recognize our user(s) or member(s) device(s) through which they are accessing our site or App. A "cookie" is a small text file that are stored and used, for example, to collect the user(s) or member(s) information about their activity on the web page server. A user(s) or member(s) of the web can control cookies through their browser settings and different other tools. A user(s) or member(s) can opt-out from the use of cookies and same technologies that track their online behaviour on the websites of others for third party advertising.
            Tracking technologies of our site will record information of our user(s) or member(s) internet domain and host names; user(s) or member(s) internet protocol (IP) addresses; their browser software and operating system types; the user(s) or member(s) clickstream patterns; and dates and times that our site by user(s) or member(s) is accessed. The cookies and other tracking technologies of our site allow us to improve our website and app services and the user(s) or member(s) web experience. 
            For further details, and to comply with the cookie policy of Nearluk, please visit our Cookie policy section.
            </p>
            <b>Access to User(s) or Member(s) Personal Information</b>
        <p>Nearluk store their user(s) or member(s) information to make their contact with the site and application more competent, practical, and applicable. The user(s) or member(s) of the site and application may access, review, correct, update, or deactivate or delete their profile or rental property ad at any time by logging in to their individual account. If any user(s) or member(s) does not have an account with Nearluk, or if the individual think that another party has provided us with your personal contact information(s), please contact us.
         </p>
        <p>When our user(s) or member(s) deletes their personal information(s), Nearluk will retain logs and non-personal information regarding their activity. We shall also have our user(s) or member(s) archival copy of their non-personal information(s) for our business's and record purposes, and which won’t be made accessible by the user(s) or member(s) or any other third parties on the internet. 
        </p>
        <b>Third Party Services 
        </b>
        <p>For our business to help the user(s) or member(s) search for rental property, Nearluk may make Personal Information(s) accessible to third parties such as property owners, builders, developers, tenants, agents, landlords, institutional property consultants, mortgage professionals and other mediators and additional business partners that Nearluk collects on the web. 
        </p>
        <p>Nearluk shall take reasonable steps in order to make sure that these third-party service providers are obliged to safeguard our user(s) or member(s) Personal Information on Nearluk’s behalf but do not make promises that it will be any error free service. </p>
        <p>Nearluk does not aim to transfer our user(s) or member(s) Personal Information(s) without our user(s) or member(s) consent towards third parties who are not obligated to carry out on Nearluk’s behalf unless such transfer is lawfully necessary. Also, it is against Nearluk’s policy to sell the user(s) or member(s) Personal Information(s) which are collected online without the user(s) or member(s) consent. </p>
   <b>
    User(s) or Member(s) Consent </b>
        <p>When the user(s) or member(s) uses our site or application, it will be considered that the user(s) or member(s) voluntarily consent to the terms and conditions and terms of our online Privacy Policy and other related policies and to the Nearluk’s treating of Personal Information(s) for the reasons mentioned. 
        </p>
        <b>Information Security</b>
        <p>Nearluk takes proper security actions to protect our user(s) or member(s) against any unauthorized access to or unlawful alteration(s), disclosure(s) or destruction(s) of their personal information(s).</p>
        <p>Nearluk restrict access to the user(s) or member(s) personally identifying information(s) towards the individual(s) who need to identify that information(s) to operate, develop or improve our services.</p>
   <b>Updating User(s) or Member(s) Information</b>
        <p>Nearluk provide tools to the user(s) or member(s) of our site and application for updating and correcting their personally identifying information(s) for our services. 
        </p>
<b>Eligibility</b>
<p>Nearluk does not allow any user(s) under the age of eighteen (18), to use our Services. The user(s) must represent and warrant to Nearluk that they are (18) and above and are capable of entering, carrying out and adhering towards these Terms. The user(s) under the age of eighteen (18) can use our application or website, only with a parental permission and with the involvement and guidance of their parents and / or legal guardians, under such Parent /Legal guardian's registered account. The user(s) must agree to register before uploading any content(s) and / or comment(s) and any additional services of Nearluk and provide the details which includes but not restricted to complete name, age, email address, residential address, and contact number.
</p>
<b>User(s) or Member(s) Information Sharing and Disclosure </b>
<p>Nearluk‘s site and application do not inherently rent, sell, or share our user(s) or member(s) personal information(s) with any other people except to provide products or services that our user(s) or member(s) requested, or is with relation to the general business practices of our services and when we have user(s) or member(s) consent.</p>
    
<b>Confidentiality and Security
</b>
<p>Nearluk limit the access to personal information(s) about our user(s) or member(s) to the individual(s) who we believe reasonably requires to come into contact with that information of our user(s) or member(s) to provide products or services to our user(s) or member(s) or in order to do their jobs.</p>
<p>Nearluk has every physical, electronic, and procedural safeguard measures that obey with the laws of Information Technology Act, 2000 prevailing in India in order to protect our user(s) or member(s) personal information and preservation of their privacy.</p>
<p>The user(s) use Nearluk from any other locations, then you is responsible for compliance with applicable local laws of your jurisdiction.</p>
<b>Changes to this Privacy Policy</b>

<p>The privacy policy of Nearluk can be periodically updated, changed or modified at any time at any time at its sole discretion. The updated, changed or modified policy will come to effect from the date of such updated, changed or modified policy and shall be noticed the user(s) through emails and messages and will be updated in the privacy policy. </p>
<b>Disclaimer</b>
<ul>
    <li>
        Nearluk can be used by numerous property owners, builders, developers, tenants, agents, landlords, institutional property consultants, mortgage professionals any other interested individual related to the commercial or non commercial rental property. The User(s) are strongly advised to carry out on their own an independent third party verifications whether marked verified or not by Nearluk before proceeding with any transactions involving real estate. The onus of finding a genuine rental property, for rental purpose, depends on the user.
    </li>
    <li>The terms and conditions in this policy agreement can be changed by Nearluk at any time at its sole discretion and without any compulsion in order to inform the User(s) or Member(s) of the said changes before making the changes.</li>
    <li>Nearluk is free to offer their services to any client or potential client without any restriction.</li>
    <li>The terms and conditions in this Privacy Policy must be read with the ‘Terms and Conditions’ and other related policies for the site and application.</li>
    <li>The Law, Jurisdiction as well as associated matters regarding this Privacy Policy will be compliant with the ‘Terms and Conditions’ and other related policies for the site and application.</li>
    <li>Nearluk uses the maximum care as is possible to make sure that any data and/or information with regard to electronic transfer of money do not fall in the wrong hands. </li>

</ul>
<b>How To Contact Us </b>
<p>Any user(s) or member(s) or visitor(s) can contact us for any enquires, concerns, suggestions, feedback regarding our privacy practices at the contact details given below.</p>
<h6>Contact details</h6>
<h6>Phone No- +91-40-6610-7755     M   +91-97030-77755
</h6>
<h6>Email ID- info@nearluk.com and support@nearluk.com</h6>

</div>
</div>