<div class="containt-fluid ">
  <section class="for_tenants">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 cpl-md-12">
            <div class="why_content">
              <h4>For Tenants:</h4>
            
            <p class="text">	The features in Nearluk help the tenant to list down the best properties listed by the owner and agent, with exact information on the location, facilities and amenities provided by the party. The navigation system helps in locating the property in the Google Map. Other features such as Loan facility on rental deposit, Logistics, and Bid a property if you desired to possess. Regular news on real estate, Rental trends in your locality, Recent and saved searches, Comparison between multiple properties, Chat with owner & agent, sharing accommodation with neighbors, Hotel and banquet halls bookings, Saved messages of your connections are added features. You may also rent a property on Hourly, Daily, Weekly, Monthly or Yearly basis . You can also find a sharing friend by posting your likes, interests and sports etc., 
            </div>
        </div>
      </div>
      </div>
  </section></div>



<router-outlet ></router-outlet>
