
<div class="container" style="margin-top: 10%">
    <div class="headding" id="policy">
        <h4 style="font-family:verdana;"><u>Terms and Conditions</u></h4>
    </div>
    <br>

    <div class="content" id="cont">
        <b>1. Purpose</b>
        <p>Welcome to Nearluk. These are the terms and conditions governing the use of the Site by the registered
            user(s)/members(s) or visitor(s) namely, the property owners, builders, developers, tenants, agents,
            landlords, institutional property consultants, mortgage professionals or any other interested individual
            related to the commercial or non commercial rental property. Through accessing Nearluk either by the website
            or any by the Application, the user(s) user(s)/members(s) or visitor(s) namely, the property owners,
            builders, developers, tenants, agents, landlords, institutional property consultants, mortgage professionals
            or any other interested individual related to the commercial or non commercial rental property acknowledge,
            accept and agrees the following mentioned terms and conditions of Nearluk, which are intended to work for
            every user(s)/members(s) or visitor(s). This terms and conditions are effective from the time the user(s) or
            members(s) login to Nearluk. Through accepting these terms and conditions, the user(s)/members(s) or
            visitor(s) are also accepting and agreeing being obligatory by the Privacy Policy and the data Policy of
            Nearluk. Please read these terms and conditions carefully. If any user(s)/members(s) or visitor(s) namely,
            the property owners, builders, developers, tenants, agents, landlords, institutional property consultants,
            mortgage professionals or any other interested individual related to the rental property do not accept or
            agree with the stated Terms, then do not use the Nearluk Sites and Application Services.
        </p>
        <b>2. Eligibility</b>
        <p>Nearluk does not allow any user(s) under the age of eighteen (18), to use our Services. The user(s) must
            represent and warrant to Nearluk that they are (18) and above and are capable of entering, carrying out and
            adhering towards these Terms. The user(s) under the age of eighteen (18) can use our application or website,
            only with a parental permission and with the involvement and guidance of their parents and / or legal
            guardians, under such Parent /Legal guardian's registered account. The user(s) must agree to register before
            uploading any content(s) and / or comment(s) and any additional services of Nearluk and provide the details
            which includes but not restricted to complete name, age, email address, residential address, and contact
            number.</p>
        <b>3. Nearluk’s Content </b>
        <p>Nearluk is a free digital based rental property service provider, offers an online platform for owners to
            post ads for commercial and non commercial rental properties and allows tenants to look for properties of
            interest and source relevant property information in a clear and transparent way. Nearluk services and
            contents are meant solely for the purpose and only the exclusive use of the Nearluk user(s)/members(s) or
            visitor(s) namely, the property owners, builders, developers, tenants, agents, landlords, institutional
            property consultants, mortgage professionals or any other interested individual related to the commercial or
            non commercial rental property.
        </p>
        <p>Any user(s)/members(s) or visitor(s) namely, the property owners, builders, developers, tenants, agents,
            landlords, institutional property consultants, mortgage professionals or any other interested individual
            related to the commercial or non commercial rental property voluntarily or involuntarily copies or downloads
            or recreates or shares passwords or sub-license or shares in whichever manner which is not in compliant with
            these terms, shall be taken as a misuse of the portal.</p>
        <p>The contents of Nearluk such as designs, text, graphics, images, video, information, logos, button icons,
            software, audio files, video files and any additional content are secured under intellectual property or
            other rights, copyright, trademark and other laws. Each and every Content of Nearluk is the exclusive
            property of Nearluk or its licensors and is secured under intellectual property or other rights, copyright,
            trademark and other laws. Any unauthorized use of the Content shall be taken as a violation of these laws
            applicable regulations and statutes, and it is strictly prohibited under law.
        </p>
        <p>Nearluk is a free digital based rental property service provider, with free access and Nearluk assumes no
            responsibility for the quality and genuineness of responses of the user(s). Nearluk cannot monitor every
            response that the user(s)/members(s) or visitor(s) namely, the property owners, builders, developers,
            tenants, agents, landlords, institutional property consultants, mortgage professionals or any other
            interested individual related to the commercial or non commercial rental property may receive in response to
            the information the user(s)/members(s) or visitor(s) namely, the property owners, builders, developers,
            tenants, agents, landlords, institutional property consultants, mortgage professionals or any other
            interested individual related to the commercial or non commercial rental property has displayed on the
            website and/or application. The user(s)/members(s) or visitor(s) namely, the property owners, builders,
            developers, tenants, agents, landlords, institutional property consultants, mortgage professionals or any
            other interested individual related to the commercial or non commercial rental property must conduct its own
            background checks on the bonafides nature of every response(s) and content(s) posted. 
        </p>
        <p>
            <a>Note: </a>Nearluk can be used by numerous property owners, builders, developers, tenants, agents,
            landlords, institutional property consultants, mortgage professionals any other interested individual
            related to the commercial or non commercial rental property. The User(s) are strongly advised to carry out
            on their own an independent third party verifications whether marked verified or not by Nearluk before
            proceeding with any transactions involving real estate. The onus of finding a genuine rental property, for
            rental purpose, depends on the user.
        </p>
        <p>Every user(s)/members(s) or visitor(s) namely, the property owners, builders, developers, tenants, agents,
            landlords, institutional property consultants, mortgage professionals or any other interested individual
            related to the commercial or non commercial rental property in Nearluk must agree towards not:</p>
        <ul>
            <li>transmitting, posting, distributing, storing or destroying any material, which includes without
                limitation, Nearlukcontent that violates any applicable law or regulation, which includes but not
                limited to laws or regulations governing the collection, processing, or transfer of personal
                information;</li>

            <li>infringes the copyright, trademark, trade secret or other intellectual property rights of others or
                infringe the privacy, publicity or other personal rights of others; or defamatory, obscene, threatening,
                abusive or hateful.</li>
            <li>taking any action that enforces an irrational or disproportionately huge load on Nearluk’s
                infrastructure;</li>
            <li>using any data mining, robots or same data gathering or extraction approaches;</li>
            <li>violating or attempting to violate the security of Nearluk which includes attempting towards probing,
                scanning or testing the vulnerability of a system or to violate security or authentication methods
                without proper authorization;
            </li>
            <li>forging any TCP/IP packet header or any part of the header information in any email or newsgroup
                posting;</li>
            <li>reversing engineer or decompiling any parts of Nearluk website or Application;</li>
            <li>aggregating, copying or duplicating in whatever manner any of the Content(s) or information(s) available
                from Nearluk website or application, which include expired commercial or non commercial rental property
                ads and listings, other than as allowed by these Terms and Conditions;</li>
            <li>framing or linking to any Content(s) or information(s) available from Nearluk website or application,
                which include expired commercial or non commercial ads and listings, other than as allowed by these
                Terms and Conditions;
            </li>
            <li>posting any content or material that endorses or authorizes deceitful or misleading information or
                unlawful activities, or authorizes or endorses instructional information about unlawful activities or
                other activities prohibited through these Terms and Conditions, such as making or buying illegal
                weapons, violating someone's privacy, providing or creating computer viruses like trojan horses, worms,
                time bombs, cancel bots, easter eggs or other computer programming routines or pirating media;</li>
            <li>posting any commercial or non commercial rental property ads and listings or Profile or applying for any
                other individual for the purpose of sale/rental of property, and related property services etc;</li>
            <li>deferring any contact from property owners, builders, developers, tenants, agents, landlords,
                institutional property consultants, mortgage professionals any other interested individual related to
                the commercial or non commercial rental property or other third party(s) for the purpose of sale/rental
                of property, and related property services etc;</li>
            <li>sharing with a third party any login IDs to Nearluk Site;</li>
            <li>accessing data not intended for the property owners, builders, developers, tenants, agents, landlords,
                institutional property consultants, mortgage professionals any other interested individual related to
                the commercial or non commercial rental property in Nearluk or logging into an account or network which
                the property owners, builders, developers, tenants, agents, landlords, institutional property
                consultants, mortgage professionals any other interested individual related to the commercial or non
                commercial rental property in Nearluk are not authorized to access;
            </li>
            <li>posting or submitting to Nearluk any incomplete, deceitful or erroneous biographical information(s)
                which is not the property owners, builders, developers, tenants, agents, landlords, institutional
                property consultants, mortgage professionals any other interested individual related to the commercial
                or non commercial rental property own;</li>
            <li>posting content that comprises of restricted or password accessing pages, or hidden pages or images;
            </li>
            <li>soliciting passwords or personally identifiable information(s) from other user(s)/member(s); </li>
            <li>deleting or altering any material posted by any other property owners, builders, developers, tenants,
                agents, landlords, institutional property consultants, mortgage professionals any other interested
                individual related to the commercial or non commercial rental property;</li>
            <li>harassing, inciting harassment or advocating harassment of any property owners, builders, developers,
                tenants, agents, landlords, institutional property consultants, mortgage professionals any other
                interested individual related to the commercial or non commercial rental property;</li>
            <li>sending unsolicited emails, making unsolicited calls or sending unsolicited SMS’s promoting/ advertising
                their products or services to any user(s)/member(s)/visitor(s)</li>
            <li>attempting to interfere with service to any property owners, builders, developers, tenants, agents,
                landlords, institutional property consultants, mortgage professionals any other interested individual
                related to the commercial or non commercial rental property or network, which includes, without
                limitation, by means of submitting viruses, overloading Nearluk Site with “flooding", "spamming", "mail
                bombing" or "crashing";</li>
            <li>promoting or endorsing an unlawful or unauthorized copy of any person(s) copyrighted work;</li>
            <li>using the Nearluk Services for any illegal motive or any unlawful activities, or posting or submitting
                any content, images, video or property ad that is as per law is defamatory, libellous, implicitly or
                explicitly offensive, vulgar, obscene, threatening, abusive, hateful, racist, discriminatory, of a
                menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety or could cause
                harassment to any person(s) or contain any links to pornographic, indecent or sexually explicit material
                of any kind, as determined by Nearluk’s discretion.</li>
            <li>infringing upon or violating any third party's rights [which includes, but not limited to, intellectual
                property rights, rights of privacy which includes without limitation unauthorized disclosure of a
                person's name, email address, physical address or phone number) or rights of publicit];</li>
            <li>promoting an illegal or unauthorized copy of some other person's copyrighted work such as providing
                pirated computer programs or links to them, providing information(s) to circumvent manufacture-installed
                copy-protect devices, or providing pirated music or links to pirated music files;</li>
            <li>containing restricted or password-only access pages, or hidden pages or images (those not linked to or
                from another accessible page);</li>
            <li>providing material that exploits individuals in a sexual, violent or otherwise unsuitable manner or
                solicits personal information(s) from anyone;</li>
            <li>providing instructional information concerning illegal activities for example, making or buying illegal
                weapons, breaching someone's privacy, or providing or creating computer viruses;</li>
            <li>containing video, photographs, or images of any other individual (with a minor or an adult).</li>
            <li>trying to gain unauthorized access or exceeds the scope of authorized access to Nearluk or to our
                offered services, or additional areas of our Website and Application or solicits passwords or
                personal identifying information(s) for commercial or illegal purposes from other user(s);</li>
            <li>engaging in commercial activities and/or sales purpose without our prior written consent such as
                contests, sweepstakes, barter, advertising and pyramid schemes, or the buying or selling of "virtual"
                products associated to the Website. Throughout this Terms of Use, Nearluk’s prior written consent means
                a communication coming from Nearluk’s Legal Department, explicitly in response to someone’s request, and
                specially addressing the activity or conduct for which the user(s) seek authorization;</li>
            <li>soliciting gambling or engaging in any gambling activity which as per Nearluk’s sole discretion,
                believes is or could be construed as being illegal;</li>
            <li>interfering with another or member(s) or visitor(s) use and enjoyment of our website and application or
                any other or member(s) or visitor(s) enjoyment of the same services</li>
            <li>referring to any website or URL that, as per Nearluk’s sole discretion, comprises material that is
                unsuitable for the site and application</li>
            <li>harm minors in any way;</li>
            <li>infringing any patent, trademark, copyright or other proprietary rights or third party's trade secrets
                or rights of publicity or privacy or shall not be deceitful;</li>
            <li>Violating any law for in force at that time</li>
            <li>Deceiving or misleading the user(s) or member(s) or visitor(s) about the origin of such messages or
                communicates any information(s) which is completely offensive or threatening in nature;</li>
            <li>Impersonating another individual;</li>
            <li>Threatening the unity, integrity, defense, security or sovereignty of India, friendly relations with
                foreign states, or public order or causes provocation to the commission of any cognizable offence or
                prevents investigation of any wrongdoing or is insulting any other nation.</li>
            <li>Shall not create obligation for Us or cause Us to lose (in whole or in part) the services of our
                internet service provider ("ISPs") or additional suppliers;</li>
            <li>Shall not use any "deep-link", "page-scrape", "robot", "spider" or additional automatic device, program,
                algorithm or methodology, or any similar or equivalent manual procedure, in the direction of accessing,
                acquiring, copying or monitoring any portion of Nearluk or any of our content, or in any way reproducing
                or circumventing the navigational structure or presentation of Nearluk or any of our content, in order
                toget or try to obtain any materials, documents or information(s) through any means not
                intentionally made available through Nearluk. Nearluk reserve its right to bar any such actions</li>
            <li>Shall not make any negative, denigrating or defamatory statement(s) or comment(s) about Nearluk or the
                brand name or domain name used by Nearluk which includes the terms Nearluk, or otherwise engage in any
                behaviour or activities that might tarnish the image or status, of Nearluk or otherwise tarnish or
                dilute any Nearluk’s trade or service marks, trade name and/or goodwill linked with such trade or
                service marks, trade name as may be owned or used by Nearluk.  </li>
            <li>Nearluk have all the rights in the direction of taking necessary action(s) and claim damages and
                losses that may occurred by reason of the user(s) and/or members(s) involvement and/or participation in
                any way on user(s) and/or members(s) own or through group/s of individuals, intentionally or
                unintentionally, voluntarily or involuntarily in DoS/DDoS (Distributed Denial of Services).</li>

        </ul>
        <p>If Nearluk receive such complaints from any of its property owners, builders, developers, tenants, agents,
            landlords, institutional property consultants, mortgage professionals any other interested individual
            related to the commercial or non commercial rental property, it will spam or disable the account of that
            particular individual and would cooperate with the prevailing law enforcement authorities in prosecuting
            that particular property owners, builders, developers, tenants, agents, landlords, institutional property
            consultants, mortgage professionals any other interested individual related to the commercial or non
            commercial rental property who are involved in such illegal activities.
        </p>
        <b>4. Terms Applicable to every Owner(s) or Tenant(s) or Agent(s) in Nearluk</b>
        <p>In Nearluk after successful authentication and registration to our site, the user(s) namely the owner(s) or
            tenant(s) and agent(s) as well as any other visitor(s) or member(s), shall be held legally responsible for
            any of his/her actions. Nearluk is not responsible for action of the user(s) namely the owner(s) or
            tenant(s) and agent(s) as well as any other visitor(s) or member(s),</p>
        <p>At Nearluk, the property owners, builders, developers, agents, landlords, institutional property consultants,
            mortgage professionals any other interested individual related to the commercial or non commercial rental
            property can post ads for the property. </p>
        <p>The property owners, builders, developers, agents, landlords, institutional property consultants, mortgage
            professionals any other interested individual related to the commercial or non commercial rental property
            are exclusively accountable for their rental property ads on Nearluk Site and Application. </p>
        <p>Nearluk is an online platform which services as a mediator for allowing individuals having interests relating
            to rent any commercial or non commercial properties. Nearluk can be used by numerous property owners,
            builders, developers, tenants, agents, landlords, institutional property consultants, mortgage professionals
            any other interested individual related to the commercial or non commercial rental property. The User(s) are
            strongly advised to carry out on their own an independent third party verifications whether marked verified
            or not by Nearluk before proceeding with any transactions involving real estate. The onus of finding a
            genuine rental property, for rental purpose, depends on the user. Nearluk is not be liable for any service
            related decisions, for any reason, taken by theindividual(s)who posted the property ad.
        </p>
        <p>At Nearluk the user(s) or member(s) can post ads of the rental property and list commercial and non
            commercial rental properties by owners in the site, upgrade and compare rental properties available, search
            nearby property located from your current or preferred locations through our service NearU, bidding of the
            rental properties available, rental property reviews and ratings are also available.</p>
        <p>The users(s) must understands and acknowledges that if the user(s) delete their Nearluk account, all the
            account information from Nearluk, which includes saved contacts details, property details, etc. shall be
            marked as deleted in and shall be deleted from Nearluk's databases. Due to the delay in Nearluk's web
            servers for executing the deletion; few information(s) may be available for a small period of time.</p>
        <p>The profile of the users(s) or member(s), registered as the Owner(s) or Tenant(s) or Agent(s) shall be
            updated/edited etc. by the respective registered users(s) or member(s), namely the Owner(s) or Tenant(s) or
            Agent(s) only. The users(s) or member(s) registered in Nearluk as the Owner(s) or Tenant(s) or Agent(s) must
            not engage in uploading, posting, transmitting, publishing, or distributing any material(s) or
            information(s) that is illegal, or which is perceived as being harmful, threatening, abusive, harassing,
            defamatory, libelous, vulgar, obscene, or racially, ethnically, or objectionable.</p>
        <p>If any Nearluk users(s) or member(s), registered as the Owner(s) or Tenant(s) or Agent(s) upload multiple
            profiles using the same or different accounts, Nearluk shall have the authority to remove the profiles
            without giving any notice to that users(s) or member(s), registered as the Owner(s) or Tenant(s) or
            Agent(s).</p>
        <p>The users(s) or member(s), registered as the Owner(s) or Tenant(s) or Agent(s) in case of posting ads for any
            rental commercial or non commercial property, must not post any property which is fake or imaginary or
            deceitful, or must not misguide us by showing or providing fake credentials of any other individual(s) plot
            or land as yours otherwise any sort of service /facility could be withdrawn by Nearluk at any point of time.
            Also, Nearluk’s volunteers shall check on a timely basis for each and everything.</p>
        <p>In Nearluk, the Owner(s) or Tenant(s) or Agent(s) are the different communicating parties, who are solely
            responsible for any negative occurrence related to any event, post, calling, chatting, personal and contact
            info (Contact no., residential address, email id), expert advice, property details, ratings and reviews.
        </p>
        <p>The Agent(s) act as the mediator between the Owner(s) and Tenant(s), and neither the Agent(s) nor Nearluk is
            not responsible for any financial transaction between the rental property Owner(s) and Tenant(s). Nearluk
            don’t take any money from any user(s). The Owner(s) must contact the Tenant(s) through the Agent(s); also
            the Tenant(s) shall contact the Owner(s) through the Agent(s). The Agent(s) are responsible for looking
            after the property, as well as rating the property in Nearluk but they cannot bid for the property.</p>
        <p>The admin in Nearluk has the right to reject any profile and delete any profile of any Owner(s) or Tenant(s)
            or Agent(s) which is non-compliant with The Information Technology Act, 2000, or other Rules and
            regulations, guidelines made hereunder, user agreement and privacy policy, and other related policies
            mentioned in our site as amended/re-enacted from time to time, for access or usage of Nearluk's Services,
            without any compulsion in order to inform the Owner(s) or Tenant(s) or Agent(s).</p>
        <p>The Owner(s) or Tenant(s) or Agent(s) using Nearluk website and/or application has the sole responsibility
            towards the safe custody of their log in details and Nearluk is not responsible for any loss of data, theft
            of data, corruption of data or the wrong usage or misuse of the password and any damage(s) or leak of
            information(s) and its consequential usage by a third party. Nearluk has taken every possible reasonable
            protection at its end to make sure that there is no leakage or misuse of the password generated by the
            Owner(s) or Tenant(s) or Agent(s).</p>
        <p>Nearluk shall not be held legally responsible for any information(s) received by the Owner(s) or Tenant(s) or
            Agent(s) and it is the sole responsibility of the Owner(s) or Tenant(s) or Agent(s) to check, authenticate
            and verify the information(s) of the rental property or response(s) received at its own expense. Nearluk
            only checks and authenticate the property details posted and owner(s), tenant(s) and agent(s) personal
            information, but we makes no representations or warranties of any kind express or implied, regarding the
            completeness, accuracy, reliability or suitability with respect to the rental property information(s), or
            the commercial or non commercial rental property lands or plots, or related facilities or projects or
            services or related information(s) provided by Developer/Builder/Agent/Promoter/Owner/or any other member(s)
            on our Site and website with respect to any commercial or non commercial rental property or project. </p>
        <p>The Owner(s) or Tenant(s) or Agent(s) must represents that he/she is 18 years old or above and he/she is not
            under any legal or other disability which restricts the ability to install and use the services and act in
            accordance with these Terms and Conditions.</p>

        <p>On successful registration the Owner(s) or Tenant(s) or Agent(s) must agree that:</p>
        <ul>
            <li>
                the profile of the Owner(s) or Tenant(s) or Agent(s) will be made available for display in the Nearluk
                online portal.
            </li>
            <li>the Owner(s) or Agent(s) have the authority to upload the rental property ad through the profile created
                by Owner(s) or Agent(s) in “Post Free Ad” section in Nearluk.</li>
            <li>The Tenant(s) can compare properties and bid for the commercial or non commercial rental properties</li>
        </ul>



        <p>The Owner(s) or Tenant(s) or Agent(s) must undertake that the information(s) given by Owner(s) or Tenant(s)
            or Agent(s) is correct and truthful in every respect.</p>
        <p>This service must not be utilized by the Owner(s) or Tenant(s) or Agent(s) or any other
            members(s)/visitor(s)/user(s) at Nearluk for uploading/transmitting any content which is considered as
            illegal or objectionable in any manner. </p>
        <b>5. Terms relating to Post Free Ad by Owner(s) or Agent(s) for commercial or non commercial rental
            properties</b>
        <ul>
            <li>The commercial or non commercial rental properties ads displayed can be updated by the Owner(s) and
                Agent(s) at any time.</li>
            <li>The commercial or non commercial rental properties ads displayed shall be made available from the
                profile page of the Owner(s) and Agent(s) in Nearluk can be by freely accessed by any registered
                Tenant(s) and Agent(s).</li>
            <li>Nearluk offers no guarantees or warranties that the Owner(s) or Tenant(s) or Agent(s) would get
                satisfactory response or any response once the commercial or non commercial rental properties ads is
                display and made available to registered User(s).</li>
            <li>Nearluk offers no guarantees or warranties concerning the credentials of the Owner(s) or Tenant(s) or
                Agent(s) which down loads the property ads or details and uses it to contact the prospective Owner(s)
                and Agent(s).</li>
            <li>Nearluk shall not be held legally responsible for loss of any data technical or related, or of the
                ads/attachment or information/data or particular(s) supplied by the Owner(s) or Tenant(s) or Agent(s)
                due to acts of god and reasons beyond its control like corruption of data or delay or failure to perform
                as a result of any cause(s) or conditions that are reasonably beyond the control of Nearluk which
                include but not limited to strikes, riots, civil unrest, Govt. policies, tampering of data through
                unauthorized individuals like hackers, distributed denial of service attacks, virus attacks, war and
                natural calamities.</li>
            <li>It is the sole responsibility of the Owner(s) or Tenant(s) or Agent(s) in Nearluk to check, authenticate
                and verify the information(s) of the rental property or response(s) received at its own expense and
                every response received from the Owner(s) or Tenant(s) or Agent(s) relating to the commercial or non
                commercial rental properties ads and details being displayed and we at Nearluk takes no accountability
                in respect thereof.
            </li>
            <li>Nearluk only checks and authenticate the property details posted and owner(s), tenant(s) and agent(s)
                personal information, but we makes no representations or warranties of any kind express or implied,
                regarding the completeness, accuracy, reliability or suitability with respect to the rental property
                information(s), or the commercial or non commercial rental property lands or plots, or related
                facilities or projects or services or related information(s) provided by
                Developer/Builder/Agent/Promoter/Owner/or any other member(s) on our Site and website with respect to
                any commercial or non commercial rental property or project.
            </li>
            <li>The Owner(s) and Agent(s) using Nearluk website and/or application has the sole responsibility towards
                the safe custody of their log in details and Nearluk is not responsible for any loss of data, theft of
                data, corruption of data or the wrong usage or misuse of the password and any damage(s) or leak of
                information(s) and its consequential usage by a third party. Nearluk has taken every possible reasonable
                protection at its end to make sure that there is no leakage or misuse of the password generated by the
                Owner(s) or Agent(s).
            </li>
            <li>In Nearluk, the Owner(s) and Agent(s) are the two different communicating parties, who are solely
                responsible for any negative occurrence related to any event, post, calling, chatting, personal and
                contact info (Contact no., residential address, email id), expert advice, property details, ratings and
                reviews.
            </li>
            <li>The Agent(s) act as the mediator between the Owner(s) and Tenant(s), and neither the Agent(s) nor
                Nearluk is not responsible for any financial transaction between the rental property Owner(s) and
                Tenant(s). Nearluk don’t take any money from any user(s). The Owner(s) must contact the Tenant(s)
                through the Agent(s); also the Tenant(s) shall contact the Owner(s) through the Agent(s). The Agent(s)
                are responsible for looking after the property, as well as rating the property in Nearluk but they
                cannot bid for the property.
            </li>
            <li>The Owner(s) or Agent(s) must undertake that the information(s) of the rental property details given by
                him/her is correct and truthful in every respect.
            </li>
            <li>This service shall not be utilized by the Owner(s) or Agent(s) for uploading/transmitting any content
                which is considered as illegal or objectionable in any manner.
            </li>
            <li>The admin in Nearluk has the right to reject any profile and delete any profile or ad posted of any
                Owner(s) or Agent(s) which is non-compliant with The Information Technology Act, 2000, or other Rules
                and regulations, guidelines made hereunder, user agreement and privacy policy, and other related
                policies mentioned in our site as amended/re-enacted from time to time, for access or usage of Nearluk's
                Services, without any compulsion in order to inform the Owner(s) or Agent(s).
            </li>

        </ul>
        <b>6. Property Ads Notifications/Alerts in email and phone number</b>
        <ul>
            <li>Nearluk uses an automated algorithm to match rental property ads against the search made by the Owner(s)
                /Tenant(s) and Agent(s) and the Tenant(s) and Agent(s) will also get a notification of the rental
                property ads nearby their current location or preferred location by email and SMS’s will be relevant to
                the profile.</li>
            <li>By choosing for this service the Owner(s) /Tenant(s) and Agent(s) are agreeing to receive details of
                nearby properties from Nearluk, on their registered mobile number and email id</li>
            <li>Nearluk offers no guarantees or warranties concerning the credentials of the Owner(s) /Tenant(s) and
                Agent(s) or any property/land/plot whose details are sent by email or SMS.</li>
            <li>Nearluk will try its utmost best deliver all SMS, however, it does not take any accountability for the
                SMSes that are not delivered because of the phones were out of order, network provider problems, loss of
                SIM etc. </li>
            <li>Nearluk is not responsible for the failure of any backend technology of SMS applications at the network
                provider end and resulting in an inability of the Owner(s) /Tenant(s) and Agent(s) to receive a SMS.
            </li>
            <li>The Nearluk SMS and email id notification service shall be delivered on the registered mobile number and
                email address provided by the Owner(s) /Tenant(s) and Agent(s) at the time of signing in to the Nearluk
                account, and shall sent the notification on the new number or email id, if updated or changed by the
                Owner(s) /Tenant(s) and Agent(s).</li>
        </ul>
        <b>7. Intellectual Property and Copyright laws for Owner(s) or Tenant(s) or Agent(s)</b>

        <p>Every Owner(s) or Tenant(s) or Agent(s) in Nearluk must agree towards;</p>

        <ul>
            <li>not infringing the copyright, trademark, trade secret or other intellectual property rights of others or
                infringe the privacy, publicity or other personal rights of others;
            </li>
            <li>not promoting or endorsing an unlawful or unauthorized copy of any person(s) copyrighted work</li>
            <li>not promoting an illegal or unauthorized copy of some other person’s copyrighted work such as providing
                pirated computer programs or links to them, providing information(s) to circumvent manufacture-installed
                copy-protect devices, or providing pirated music or links to pirated music files;</li>
            <li>not infringing any patent, trademark, copyright or other proprietary rights or third parties trade
                secrets or rights of publicity or privacy or shall not be deceitful;
            </li>
            <li>except where expressly provided otherwise in the Conditions, the Owner(s) or Tenant(s) or Agent(s) do
                not have any right, title or interest in or to any proprietary rights relating to Nearluk.</li>
            <li>Nearluk contains Material that is protected by copyright, trade mark and other laws. Except where
                expressly given otherwise in the Conditions, the Owner(s) or Tenant(s) or Agent(s) might reproduce and
                display the material on Nearluk for the Owner(s) or Tenant(s) or Agent(s) own personal, non-commercial
                use only. Except for the temporary copy held in the Owner(s) or Tenant(s) or Agent(s) computer’s cache
                and a single permanent copy for the Owner(s) or Tenant(s) or Agent(s) personal reference, the material
                might not otherwise be used, stored, reproduced, published, altered or transmitted in any form or by any
                means in whole or part without our prior written approval or the written approval of Nearluk.</li>
            <li>In particular, the Owner(s) or Tenant(s) or Agent(s) shall not use any material of Nearluk to establish,
                maintain or provide, or assist in establishing, maintaining or providing the Owner(s) or Tenant(s) or
                Agent(s) own publications, Internet site or other means of distribution.</li>
            <li>The user(s) of Nearluk must also agree that the usage of website and application by the user(s) will not
                by any means breaches or violates any third party rights which includes but not limited to Intellectual
                Property Rights, Right of Privacy and Right of Publicity. Any breach or violation of any of the above
                mentioned, which also includes the terms and conditions, data policy, account security and other
                mentioned policies in Nearluk shall result in direct termination of the user(s) account in Nearluk.
                Moreover, Nearluk has the right to seek damages from any such user(s) to the degree allowed by law.</li>
            <li>The user(s) accessing Nearluk services must not claim any copyright or other Intellectual Property Right
                over the data(s) uploaded by him or on the behalf on the website and application supplied to Nearluk.
            </li>
        </ul>
        <b>8. Termination of Owner(s) /Tenant(s) and Agent(s) Who Infringe the Intellectual Property Rights Of
            Others</b>
        <p>Nearluk understand and respect rights of the intellectual property, and we would request our User(s) to
            follow the same. Any unauthorized posting, reproduction, copying, distribution, modification, public
            display or public performance of copyrighted works which involves infringement of the copyright owners
            rights shall be dealt severely. By accepting the terms, you agree and consent that you shall not use
            Nearluk to infringe or violate the intellectual property rights of any person at all. Nearluk has the
            right to disable or terminate the accounts of any User(s), or block access to Nearluk of any User(s)
            accounts of any time in its sole discretion with or without notice, who violates any copyrights, or
            other intellectual property rights, of any person, and without any accountability to the User(s) whose
            account is terminated or access is blocked. If the User(s) believe in good faith that a notice of
            infringement of intellectual property was wrongly filed against you, please contact Nearluk.</p>
        <b>9. Nearluk’sLiability</b>
        <ul>
            <li>Nearluk has the right to disable the profile of any Owner(s) /Tenant(s) and Agent(s) if any
                prohibitive or offensive content is found or notified by any Owner(s) /Tenant(s) and Agent(s).</li>
            <li>From time to time, Nearluk shall include additional features and services to the site at its sole
                discretion and without any compulsion in order to informing any Owner(s) /Tenant(s) and Agent(s).
            </li>
            <li>Nearluk is not accountable for any authenticity of the content posted by the Owner(s) /Tenant(s) and
                Agent(s).</li>
            <li>Nearluk is not legally responsible for any expenses, any direct or indirect loss or damage, or for
                loss of revenue, loss of profits or any consequential loss of any kind on account of the Owner(s)
                /Tenant(s) and Agent(s) using the service of Nearluk.</li>
            <li>All the Owner(s) /Tenant(s) and Agent(s) shall accordingly indemnify Nearluk, against any third
                party claims concerning to the content of the Owner(s) /Tenant(s) and Agent(s) or due to act,
                negligence or omission performed by the Owner(s) /Tenant(s) and Agent(s).
            </li>
            <li>The Owner(s) /Tenant(s) and Agent(s) agreeing to receive phone calls, messages etc. from Nearluk
                time to time on events or promotional offers.</li>
            <li>The Registration completed by the Owner(s) /Tenant(s) and Agent(s) presumes that the Owner(s)
                /Tenant(s) and Agent(s) have read, understood and accepted the terms and conditions.</li>
            <li>Nearluk use reasonable endeavors to maintain the user(s) Content, however, Nearluk do not undertake
                to provide support or maintenance services for the Content. Nearluk urge the Owner(s) /Tenant(s) and
                Agent(s) to keep backup copies of Content the Owner(s) /Tenant(s) and Agent(s) Post to, maintain on
                or use with the Site and/or Application.
            </li>
            <li>Whilst Nearluk shall undertake to provide the Service to our user(s) by using reasonable skill and
                care, it is technically impractical to guarantee that the Service shall be continuous or fault free.
                Nearluk shall use reasonable endeavours to maintain the general accessibility of our offered
                Services. The Services might become temporarily unavailable from time to time due to technical
                failures, network congestion, periodic maintenance, disrupted telecommunications services or other
                causes.
            </li>


        </ul>
        <b>10. Consent to Use of Data</b>



        <p>When the Owner(s) /Tenant(s) and Agent(s) register him/her on Nearluk, you agree that Nearluk can collect
            certain personal information(s) regarding you such as your IP Address, etc. and can automatically store
            it the database of Nearluk. The Owner(s) /Tenant(s) and Agent(s) are required to provide certain
            personal information for the registration to the web page. Such information shall contain, without
            limitation, your name, email address, contact address, mobile number(s), sex, age, profession, IP
            address, standard web log information, information regarding the user(s) computer hardware and software
            and few other information(s) as required for user(s) from which user(s) identity is discernible.
        </p>
        <p>When, the Owner(s) /Tenant(s) and Agent(s) register him/her on Nearluk, you agree and give consent that
            in accordance with the Nearluk’s Privacy Policy, we shall collect and use information, technical data
            such as User(s) IP address, device ID, usage data and third party related information(s), which includes
            but not restricted to technical information(s) regarding the Owner(s) /Tenant(s) and Agent(s) mobile
            device, system and application software, that is collected from time to time to facilitate additional
            services like software updates to the Owner(s) /Tenant(s) and Agent(s) Nearluk website and/or
            application.</p>
        <p>When, the Owner(s) /Tenant(s) and Agent(s) register him/her on Nearluk, you agree and confirm that no
            sensitive or personal information(s) was given by you with Nearluk.</p>
        <p>When, the Owner(s) /Tenant(s) and Agent(s) register him/her on Nearluk, you agree and confirm that we can
            access, store and use any information(s) that you have provided compliant with the terms of the Privacy
            Policy.</p>
        <p>When, the Owner(s) /Tenant(s) and Agent(s) register him/her on Nearluk, you agree and confirm that we can
            use your contact details and personal information for promotional and marketing purpose. It is
            applicable for all the Owner(s) /Tenant(s) and Agent(s).</p>
        <p>When, the Owner(s) /Tenant(s) and Agent(s) register him/her on Nearluk, you agree and confirm to only
            provide content(s) or information(s)which does not infringe the law nor anyone person’s rights (for
            example, without violating any intellectual property rights or breaching a contract). When, the Owner(s)
            /Tenant(s) and Agent(s) register him/her on Nearluk, you agree and confirm that the given profile
            information(s) and the rental property details given in the ads by you are correct and truthful.
        </p>
        <p>The Owner(s) /Tenant(s) and Agent(s) further agree and guarantee that agreeing to the terms and
            conditions set down herein, Nearluk might collect, gather, use and share certain information(s)
            regarding the contacts contained in our registered Owner(s) /Tenant(s) and Agent(s) device’s phone book
            consistent with the Nearluk Privacy Policy and with regard to our services . By letting contact
            information to be collected, our registered Owner(s) /Tenant(s) and Agent(s) give Nearluk a right to use
            that contact information as a part of our service and the Owner(s) /Tenant(s) and Agent(s) guarantee
            that the Owner(s) /Tenant(s) and Agent(s) have any and all consents vital to share such contact
            information with us. The Owner(s) /Tenant(s) and Agent(s) may opt-out to prevent the sharing of contact
            information by changing their particular setting at any time.
        </p>
        <p>The Owner(s) /Tenant(s) and Agent(s) further agree and guarantee that you shall be responsible for any
            messages, emails, postings, rental property ads photos, profiles, reviews, ideas, images, videos, video
            files, suggestions, feedbacks, or other materials or information(s) posted or transmitted by you to
            Nearluk (collectively, "Content"). Such Content shall become Nearluk’s property and the job Owner(s)
            /Tenant(s) and Agent(s) grant Nearluk the worldwide, perpetual and transferable rights in such posted
            content. Nearluk shall be permitted to, in accordance without privacy policy and with applicable law,
            use the content or any of its elements for kind type of use, which include but not limited in the
            direction of promotional and advertising purposes and in any media whether now known or hereafter
            devised, which includes the creation of derivative works that might consist of the content the Owner(s)
            /Tenant(s) and Agent(s) provided. The Owner(s) /Tenant(s) and Agent(s) must agree that any content they
            post shall be used by Nearluk, in accordance with Nearluk privacy policy on website and application, and
            the Owner(s) /Tenant(s) and Agent(s) are not entitled or allowed or liable to any payment or additional
            compensation for such use.
        </p>
        <b>11. Disclaimer of Warranties and Liability</b>
        <p>In Nearluk to the fullest extent possible by law, we do not warrant that Nearluk app or website or
            Nearluk services shall work error-free or Nearluk App and its servers are free of viruses or any
            additional harmful mechanisms. If the Owner(s) /Tenant(s) and Agent(s) use Nearluk App or website or
            Nearluk services results in the requirement for servicing or replacing equipment or any data or any
            other expenditures, Nearluk is not liable for such expenditures. Nearluk App or Site or Nearluk services
            are provided on an "as is" basis without any representation or warranties, to the fullest extent allowed
            by law, disclaims all warranties, express or implied except otherwise specified in writing. Nearluk
            makes no warranties regarding the accuracy, reliability, completeness, or timeliness of the Nearluk
            content, services, software, text, graphics, and links.
        </p>
        <b>12. Compliance with Laws</b>
        <p>The Owner(s) /Tenant(s) and Agent(s) shall obey with each and every applicable laws but not limited the
            Information Technology Act 2008, and rules hereunder as applicable and as amended from time to time and
            also every applicable Domestic laws, rules and regulations and International Laws, regarding the use of
            Nearluk. The Owner(s) /Tenant(s) and Agent(s) shall not engage in any activity, which is illegal by the
            provisions of any applicable law which includes exchange control laws or regulations in force.</p>
        <p>The property developers, builders, and Real Estate Agents, are required to meet the terms with rules,
            regulations and guidelines of RERA Act 2016 and acquire essential registration under the said Act. It is
            compulsory for Project developers or builders and Real Estate Agents to disclose on to the Tenant(s) and
            Agent(s) on our Site, every material and requisite information(s) as mandatory under the Act. We do not
            guarantee that Project(s) and Real Estate Agents have registered under the Act or are in accordance with
            the same. In no event Nearluk is liable for any claim made by the Owner(s) /Tenant(s) and Agent(s)
            including seeking any cancellation for any of the inaccuracies in the information provided in this Site.
        </p>
        <p>Nearluk makes no claims or representations that the Nearluk may be legitimately viewed or accessed
            outside India. If Owner(s) /Tenant(s) and Agent(s) use Nearluk from any other locations, then you are
            responsible for compliance with applicable local laws of your jurisdiction which includes but not
            limited to the export and import regulations of other countries. We do not guarantee that Project(s) and
            Real Estate Agents have registered under the Act or are in accordance with the same. In no event Nearluk
            is liable for any claim made by the Owner(s) /Tenant(s) and Agent(s) including seeking any cancellation
            for any of the inaccuracies in the information provided in this Site.</p>
        <b>13. Indemnity</b>
        <p>The Owner(s) /Tenant(s) and Agent(s) shall indemnify and hold harmless Nearluk, our owner, licensee,
            affiliates, subsidiaries, group companies (as applicable) and our respective officers, directors,
            agents, and employees, from any claim or demand or damages, or actions which includes reasonable
            attorneys' payments, made by any third party or fine imposed because of or arising out of the Owner(s)
            /Tenant(s) and Agent(s) breach of this Terms of Use, privacy Policy and other Policies, or Owner(s)
            /Tenant(s) and Agent(s) violation of any law, rules or regulations or the rights (which
            includes infringement of intellectual property rights) of a third party.</p>
        <b>14. Applicable Law</b>

        <p>The Terms of Use shall be governed by and interpreted and construed with the laws of India and the Courts
            at Hyderabad shall the exclusive of jurisdiction on any disputes arising out of and relating to Nearluk.
        </p>
        <b>15. Limitation of Liability</b>
        <p>Nearluk is not legally responsible for any special, incidental, indirect or consequential damages of any
            kind with regard to these terms of use, even if user(s) had informed beforehand of the possibility of
            such damages. Nearluk shall not be party to any legal actions between a user (Owner(s) /Tenant(s) and
            Agent(s)) and a third party between any Owner(s) /Tenant(s) and Agent(s) contracted through Nearluk. In
            case Nearluk is implicated in any legal proceedings, expenses shall be recovered from the individual or
            organization that names Nearluk. Nearluk however shall obey with any court order served on it through
            due process.</p>
        <b>16. Term and Termination</b>
        <p>These Terms shall remain in effect and applicable while you are a User of Nearluk. Nearluk has the right,
            at its sole discretion, to pursue all of its legal remedies, which includes but not restricted to
            removal of the User Content from Nearluk and immediate termination of user(s) registration with or block
            access to use Nearluk and our services provided to the user(s), upon any breach by user(s) of these
            Terms and Conditions or if Nearluk is not capable to verify or confirm any information the user(s)
            submit to Nearluk registration. 
        </p>
        <p>
           <a> Note:</a> The terms and conditions can be changed by Nearluk at any time at its sole discretion and
            without any compulsion in order to inform the User(s) the said changes beforehand.
        </p>
        
    </div>
</div>