<div class="col-lg-6 col-md-12 mx-auto">
  <div class="card">

    <div class="card-body">
      <div class="text-center">
        <h3> Change Password</h3>
        <hr>
      </div>

      <div class="container-fluid" id="changepw" class="card change-pass" class="card-body changepass">
        <div class="row changepass" *ngIf="!currentsession">
          <form #changePasswordForm="ngForm" name="form" (ngSubmit)="changePasswordForm.form.valid && changePassword()" novalidate>
            <div class="col-lg-12" class="row margin-top">

              <div class="form-group">

                <input type="password" class="form-control" #newpwd="ngModel" name="changepassword" id="changepassword" placeholder="Enter your new password"
                  width [(ngModel)]="changepassword" [ngClass]="{ 'is-invalid': changePasswordForm.submitted && changepassword.invalid }"
                  required />

                <div *ngIf="changePasswordForm.submitted && newpwd.invalid" class="invalid-feedback">
                  <span *ngIf="newpwd.errors.required">Please enter your current password</span>
                </div>

              </div>
              <br>
            </div>
            <div class="col-lg-10 col-md-12 mx-auto" class="row margin-top">
              <label for="">Confirm Password</label>
              <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" [(ngModel)]="confirmpassword" #pwConfirm="ngModel" placeholder="Enter your confirm password">
            </div>
            <br>
            <div class="col-lg-10 col-md-12 mx-auto" class="row margin-top">
              <button class="btn btn-primary"> Update Password
              </button>
            </div>
          </form>
        </div>

        <div class="row changepass" *ngIf="currentsession">
          <form #changePasswordForm="ngForm" name="form" (ngSubmit)="changePasswordForm.form.valid && updatePassword(chnPwd,Cpwd)"
            novalidate>
            <div class="col-lg-12 col-md-12 mx-auto" class="row margin-top">
              <input type="password" class="form-control" #oldPwd="ngModel" name="oldpassword" id="oldpassword" [(ngModel)]="oldpassword"
                required (input)="oldPassword($event.target.value)" placeholder="Enter your current password">



              <span *ngIf="(oldPwd?.errors && (oldPwd.touched ||oldPwd.dirty))">
                <span [hidden]="!oldPwd.errors?.required" class="text-danger">Please enter your current password</span>
              </span>

              <input type="password" class="form-control" #chnPwd="ngModel" name="changepassword" [(ngModel)]="changepassword" minlength="6"
                required id="usr" placeholder="Enter your new password">
              <span *ngIf="chnPwd?.errors && (chnPwd.touched ||chnPwd.dirty)">
                <span [hidden]="!chnPwd.errors?.required" class="text-danger">Please enter new password</span>
                <span [hidden]="!chnPwd.errors?.minlength" class="text-danger">This field should be within 6 - 30 chars range
                </span>
              </span>

              <input type="password" class="form-control" placeholder="Confirm password" name="confirmpassword" #Cpwd="ngModel" name="confirmpassword"
                id="usr" [(ngModel)]="confirmpassword" (keyup)="checkpassword(chnPwd.value,Cpwd.value)" required>
              <span class="text-danger" *ngIf="message==true">Password mismatch</span>
              <button class="btn btn-info btn-forget1" id="Update" [disabled]="oldPwd.invalid || message==true || chnPwd.invalid || confirmpassword.invalid ">
                <i class="fa fa-lock" aria-hidden="true"></i> Update Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>